//----------------------------------------------------//
// FORMS                                              //
//----------------------------------------------------//

// Buttons
//----------------------------------------------------//
button {
	background-color: transparent;
	border: none;
}

.btn {
	padding: 9px;
	border-radius: 5px;
	transition: all 0.3s ease;
}

.btn-primary {
	background-color: #20b1ed;
	border-color: #20b1ed;
}

// form-group
//----------------------------------------------------//
.form-group {
	margin-bottom: 16px;
	position: relative;
}

// Input
//----------------------------------------------------//
.form-control {
	height: 40px;
	border: 1px solid #cad3df;
	color: $mainFontColor;
	box-shadow: none;
	transition: all 0.3s ease;

	&.error {
		border-color: #ff2600;
	}

	&:focus {
		border-color: transparent;
		box-shadow: none;
	}
}

// form-link
//----------------------------------------------------//
.form-link {
	@extend .reset-bootstrap-link;

	float: right;
	color: #20b1ed;
	font-size: 12px;
	line-height: 20px;

	&:hover {
		color: #20b1ed;
		text-decoration: underline;
	}
}

// error message
//----------------------------------------------------//
label.error {
	background-color: #ff2600;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
	position: absolute;
	left: 100%;
	font-size: 12px;
	font-weight: 700;
	color: #fff;
	min-width: 182px;
	padding: 10px;
	top: 25px;
	margin-left: 5px;
	text-align: center;

	&:before {
		content: '';
		position: absolute;
		right: 100%;
		top: 50%;
		margin-top: -5px;
		width: 0;
		height: 0;
		border-top: 5px solid transparent;
		border-right: 6px solid $red;
		border-bottom: 5px solid transparent;
	}
}

// states
//----------------------------------------------------//
.has-error {
	.form-control {
		border-color: #ff2600;

		&:focus {
			box-shadow: none;
			border-color: #ff2600;
		}
	}
}

// Form layout
//----------------------------------------------------//
label {
	font-weight: 400;
	font-size: 16px;
	color: $gray;
}

.label-sm {
	font-size: 12px;
	font-weight: 700;
}

.form-inline {
	.wrap-select {
		display: inline-block;
	}
}


// Checkbox
//----------------------------------------------------//
input[type=checkbox],
input[type=radio] {
	position: absolute;
	left: -9999px;

	& + label {
		cursor: pointer;
		position: relative;

		&:before,
		&:after {
			content: '';
			position: absolute;
		}
	}
}

input[type=checkbox] {
	& + label {
		padding-left: 33px;
		line-height: 25px;
		font-weight: 700;

		&:before {
			width: 24px;
			height: 25px;
			border: 1px solid #cad3df;
			background-color: #fff;
			border-radius: 3px;
			left: 0;
		}

		&:after {
			display: none;
			width: 15px;
			height: 11px;
			background-image: url('../img/checked.png');
			left: 4px;
			top: 7px;
		}
	}

	&:checked + label {

		&:after {
			display: block;
		}
	}
}

// Placeholder
//----------------------------------------------------//
::-webkit-input-placeholder {
	opacity: 1;
}
:-moz-placeholder {
	opacity: 1;
}
::-moz-placeholder {
	opacity: 1;
}
:-ms-input-placeholder {
	opacity: 1;
}

// reset webkit search
//----------------------------------------------------//
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

// Select
//----------------------------------------------------//
select {
	width: 100%;
}

.select {
	font-size: $mainFontSize;
	color: $mainFontColor;

	&.form-control {
		padding: 0 !important;
		border: none;
		transition: none;
	}

	.ui-multiselect-inner {
		position: relative;
		border: 1px solid $bd;
		border-radius: 5px;
		background-color: #fff;
	}

	.ui-multiselect-menu-inner {
		background-color: #fff;
		border: 1px solid #d6d6d6;
		border-radius: 5px;
		overflow: hidden;
	}

	.ui-multiselect-inner,
	.ui-multiselect-menu-inner label {
		height: 39px;
		line-height: 39px;
		padding: 0 15px;
		font-size: $mainFontSize;
		color: $mainFontColor;
		margin: 0 !important;
	}

	.ui-state-hover {
		background-color: $bd;
	}

	.ui-multiselect-arrow {
		position: absolute;
		right: 14px;
		top: 50%;
		margin-top: -3px;
		width: 14px;
		height: 8px;
		background-image: url('../img/select-arrow.png');
	}
}