[class^="icon-"],
[class*="icon-"] {
 	fill: #9ca8b4;
 	display: inline-block;
}

.icon-items {
	width: 20px;
	height: 20px;
	fill: $default;
}

.icon-table {
	width: 20px;
	height: 20px;
	fill: $default;
}

.icon-blocks {
	width: 20px;
	height: 20px;
}

.icon-user {
	width: 20px;
	height: 20px;
}

.icon-bag {
	width: 20px;
	height: 19px;
}

.icon-group {
	width: 22px;
	height: 14px;
}

.icon-dialog {
	width: 20px;
	height: 20px;
}

.icon-chart {
	width: 20px;
	height: 20px;
}

.icon-shop {
	width: 20px;
	height: 20px;
}

.icon-settings {
	width: 20px;
	height: 20px;
}

.icon-ring {
	width: 20px;
	height: 16px;
}

.icon-wire {
	width: 14px;
	height: 20px;
}

.icon-dots {
	width: 21px;
	height: 6px;

	&:hover {
		opacity: 0.7;
	}
}

.icon-search {
	width: 24px;
	height: 24px;
}

.icon-edit {
	width: 20px;
	height: 20px;
}

.icon-off {
	width: 18px;
	height: 20px;
}

.icon-delete {
	width: 17px;
	height: 20px;
}