//----------------------------------------------------//
// LAYOUT                                             //
//----------------------------------------------------//

// columns
//----------------------------------------------------//
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	padding: 0 12px;
}

.row {
	margin: 0 -12px;
}

// General styles
//----------------------------------------------------//
body *,
body *:after,
body *:before {
	box-sizing: border-box;
}

.container {
	@extend .clearfix;
	position: relative;
	margin: 0 auto;
}

.wrapper {
	overflow: hidden;
	// min-width: 1600px;
}

// sidebar
//----------------------------------------------------//
.sidebar {
	width: 240px;
	float: left;
	background-color: $default;
	min-height: 100vh;
	margin-left: -100%;
}

// logo
//----------------------------------------------------//
.logo {
	background-color: #f2f6fa;
	text-align: center;
	padding: 12px 12px 11px;
	min-height: 80px;

	&__link {
		display: inline-block;
	}
}

// navigation
//----------------------------------------------------//
.navig {
	@extend .reset-bootstrap-list;
	background-color: $default;
	color: $gray;
	list-style: none;

	&__li {
		&.active {
			.navig__link {
				border-left: 3px solid #ff2600;

				[class^="icon-"],
				[class*="icon-"] {
				  fill: #fff;
				}
			}
		}
	}

	&__link {
		@extend .reset-bootstrap-link;
		display: block;
		padding: 12px 14px 13px;
		transition: color 0.1s;

		[class^="icon-"],
		[class*="icon-"] {
		 	transition: fill 0.1s;
		}
	
		span {
			vertical-align: middle;
		}

		&:hover {
			color: #fff;

			[class^="icon-"],
			[class*="icon-"] {
			  fill: #fff;
			}
		}
	}

	&__icon,
	&__text {
		display: table-cell;
		vertical-align: middle;
	}

	&__icon {
		width: 24px;
		height: 24px;
		text-align: center;
		line-height: 0;
	}

	&__text {
		padding-left: 6px;
	}
}

// drop
//----------------------------------------------------//
.drop {
	@extend .reset-bootstrap-list;
	list-style: none;
	background-color: #1f2633;

	&__li {
		border-bottom: 1px solid $default;

		&.active {
			.drop__link {
				background-color: #f2f6fa;

				&:hover {
					color: inherit;

					[class^="icon-"],
					[class*="icon-"] {
						fill: $gray; 
					}
				}

			}
		}
	}

	&__link {
		@extend .reset-bootstrap-link;
		display: table;
		width: 100%;
		padding: 12px 20px 11px 40px;
		transition: color 0.1s;

		[class^="icon-"],
		[class*="icon-"] {
		 	transition: fill 0.1s;
		}

		span {
			vertical-align: middle;
		}

		&:hover {
			color: #fff;

			[class^="icon-"],
			[class*="icon-"] {
			 	fill: #fff;
			}
		}
	}

	&__icon,
	&__text {
		display: table-cell;
		vertical-align: middle;
	}

	&__icon {
		width: 24px;
		height: 24px;
		text-align: center;
		line-height: 0;
	}

	&__text {
		padding-left: 6px;
	}
}

// header
//----------------------------------------------------//
.header {
	background-color: #fff;

	&__top {
		@extend .clearfix;
		border-bottom: 1px solid $bd;
		padding: 5px 26px 0;
	}
	
	&__bottom {
		border-bottom: 1px solid $bd;
	}
}

// search
//----------------------------------------------------//
.search {
	position: relative;

	&__submit {
		position: absolute;
		top: 12px;
		left: 18px;
	}

	&__input {
		padding-left: 64px;
		padding-right: 64px;
		height: 48px;
		border-color: transparent;
	}
}

// main
//----------------------------------------------------//
.main {
	@extend .clearfix;
	float: left;
	width: 100%;
	padding-left: 240px;
}

// magic-line
//----------------------------------------------------//
#magic-line {
	position: absolute;
	left: 0;
	bottom: -1px;
	width: 100px;
	height: 3px;
	background: $red;
}

// nav-tabs
//----------------------------------------------------//
.nav-tabs {
	position: relative;
	border-bottom: 0;
	text-transform: uppercase;
	letter-spacing: 0.07em;
	margin: 0 -13px;
	float: left;

	li > a,
	li.active > a {
		@extend .reset-bootstrap-link;
	}

	li {
		padding: 0 13px;
		margin-bottom: 0;

		&:last-child {
			margin-right: 0;
		}

		> a {
			padding: 26px 0;
			transition: color 0.1s;
			border-radius: 0;
			border: none !important;

			&:hover {
				background-color: transparent;
				color: $red;
			}

			&:focus {
				background-color: transparent;
			}
		}

		&.active > a,
		&.active > a:hover,
		&.active > a:focus {
			color: $red;
		}
	}
}

// user
//----------------------------------------------------//
.account {
	@extend .reset-bootstrap-link;
	float: right;
	margin-top: 15px;
	font-size: 16px;

	&__name,
	&__pic {
		display: inline-block;
		vertical-align: middle;
	}

	&__name {
		padding-right: 5px;
	}
}

// content
//----------------------------------------------------//
.content {
	display: block; // IE fix
	padding: 24px;
}
