//----------------------------------------------------//
// TYPOGRAPHY                                         //
//----------------------------------------------------//
body {
	background-color: #f2f6fa;
	// background: #fff;
	font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  line-height: $mainLineHeight;
  color: $mainFontColor;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
}

h1 {
}

h2 {
}

h3 {
}

h4 {
}

h5 {
}

h6 {
}

p {
}

strong,
b {
	font-weight: 700;
}

a {
}

ol {
	counter-reset: headings;
	li {	
		&:before {
			counter-increment: headings;
		  content: counter(headings, decimal);
		}
	}
}