//----------------------------------------------------//
// VARIABLES                                          //
//----------------------------------------------------//
$mainFont: 'Open Sans', sans-serif; 
$mainFontSize: 14px;
$mainLineHeight: (19 / 14);
$mainFontWeight: 400;
$mainFontColor: #374050;

$gray: #9ca8b4;
$default: #374050;
$red: #ff2600;
$bd: #cad3df;
$blue: #20b1ed;