@import 'sprite.scss',
				'variables.scss',
				'mixins&includes.scss',
				'icons.scss',
				// 'normalize&reset.scss',
				'plugins.scss',
				'fonts.scss',
				'typography.scss',
				'forms.scss',
				'layout.scss';
  
//----------------------------------------------------//
// MAIN 						 																	//
//----------------------------------------------------//

// helpers
//----------------------------------------------------//
.relative {
	position: relative;
	height: 100%;
}

//----------------------------------------------------//
// LOGIN [PAGE]			 																	//
//----------------------------------------------------//

// login-page
//----------------------------------------------------//
.login-page {
	background-image: radial-gradient(1121px 753px at 50% 0%, #546177 0%, #1f2633 100%);
	min-height: 100vh;
	position: relative;
}

// login
//----------------------------------------------------//
.login {
	max-width: 200px;
	margin: 0 auto;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	&__logo {
		display: inline-block;
		margin-bottom: 31px;
	}

	&__title {
		font-size: 16px;
		color: #9ca8b4;
		display: block;
		margin-bottom: 28px;
	}


	&__form {
		text-align: left;
		color: #fff;

		.form-control:not('.has-error'),
		.form-control:not('.has-success') {
			border-color: transparent;
		}

		label {
			color: inherit;
		}

		.btn {
			width: 100%;
		}
	}
}

//----------------------------------------------------//
// WORKERS [PAGE] 	 																	//
//----------------------------------------------------//

// filter
//----------------------------------------------------//
.filter {
	@extend .clearfix;
	margin-bottom: 20px;
	text-align: center;

	&__add {
		float: left;
		padding-left: 15px;
		padding-right: 15px;
	}

	&__form {
		display: inline-block;
		margin-right: 11.5%;

		label {
			font-size: $mainFontSize;
			color: $mainFontColor;
			margin-right: 12px;
		}

		.wrap-select {
			width: 200px;
		}

		.form-group {
			margin-right: 30px;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	&__view {
		float: right;
	}

	@media screen and (max-width: 1599px) {
		&__form {
			margin-right: 16px;
			margin-left: 16px;
		}
	}

	@media screen and (max-width: 1399px) {
		text-align: right;

		&__add {
			margin-bottom: 16px;
		}

		&__form {
			margin-bottom: 16px;
		}
	}
}

// view
//----------------------------------------------------//
.view {
	@extend .reset-bootstrap-list;

	a {
		@extend .reset-bootstrap-link;
	}

	&__li {
		display: inline-block;
		margin-left: 20px;

		&:first-child {
			margin-left: 0;
		}

		&.active {
			.view__icon {
				background-color: $default;

				[class^="icon-"],
				[class*="icon-"] {
				 	fill: #fff;
				}
			}
		}
	}

	&__link {
		display: table;

		&:hover {
			.view__text {
				text-decoration: underline;
			}
		}
	}

	&__icon,
	&__text {
		display: table-cell;
		vertical-align: middle;
	}

	&__icon {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background-color: #fff;
		text-align: center;
		line-height: 0;
	}

	&__text {
		padding-left: 9px;
	}
}

// workers
//----------------------------------------------------//
.workers {
	&__list {
		@extend .reset-bootstrap-list;
		font-size: 0;
		margin: 0 -12px;
	}

	&__li {
		font-size: $mainFontSize;
		display: inline-block;
		vertical-align: top;
		width: 25%;
		padding: 0 12px;
	}

	@include b(laptop) {
	  &__li {
	  	width: 33.33%;
	  }
	}

	@include b(netbook) {
	  &__li {
	  	width: 50%;
	  }
	}
}

// worker
//----------------------------------------------------//
.worker {
	@extend .reset-bootstrap-link;
	display: block;
	border-radius: 5px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	padding: 16px 15px 20px;
	margin-bottom: 24px;
	background-color: #fff;
	position: relative;
	transition: box-shadow 0.3s;

	&:hover {
		box-shadow: none;
	}

	&__top {
		@extend .clearfix;
		padding-right: 30px;
		margin-bottom: 20px;
	}

	.js-toggle-controls {
		position: absolute;
		right: 16px;
		top: 8px;
	}

	&__img {
		line-height: 0;
		float: left;
		width: 56px;
		height: 56px;
		border-radius: 50%;
		overflow: hidden;
		background-image: url('../img/placeholder.png');
		background-position: center center;
		background-repeat: no-repeat;
		transition: opacity 0.2s;
	}

	&__info {
		overflow: hidden;
		padding-left: 16px;
	}

	&__name {
		@extend .reset-bootstrap-link;
		font-size: 16px;
	}

	&__firstname,
	&__lastname {
		display: block;
	}

	&__position {
		font-size: 13px;
		color: $gray;
	}

	&__data {
		td {
			vertical-align: middle;
			height: 24px;
			padding: 2px 9px;

			&:first-child {
				font-size: 13px;
				padding-left: 0;
				color: $gray;
			}
		}
	}
}

// controls 
//----------------------------------------------------//
.controls {

	&__close {
		position: absolute;
		right: -10px;
		bottom: 100%;
		width: 15px;
		height: 15px;
		margin-bottom: 5px;

		&:before,
		&:after {
			content: '';
			position: absolute;
			width: 15px;
			height: 2px;
			background-color: $default;
			top: 8px;
		}

		&:before {
			transform: rotate(45deg);
		}

		&:after {
			transform: rotate(-45deg);
		}

		&:hover {
			&:before,
			&:after {
				background-color: #20b1ed;
			}
		}
	}

	&__list {
		@extend .reset-bootstrap-list;
		display: table;
		width: 100%;
		background-color: $default;
		table-layout: fixed;
		border-radius: 5px 5px 0 0;
	}

	[class^="icon-"],
	[class*="icon-"] {
	  fill: #fff;
	}

	&__li {
		display: table-cell;
		vertical-align: top;
		text-align: center;
		height: 62px;

		&:first-child {
			.controls__link {
				border-top-left-radius: 5px;
			}

			.controls__tooltip {
				left: 0;
				right: auto;
				transform: none;

				&:before {
					right: auto;
					left: 25px;
				}
			}
		}

		&:last-child {
			.controls__link {
				border-top-right-radius: 5px;
			}

			.controls__tooltip {
				left: auto;
				right: 0;
				transform: none;

				&:before {
					left: auto;
					right: 25px;
				}
			}
		}
	}

	&__link {
		@extend .reset-bootstrap-link;
		display: block;
		position: relative;
		height: 100%;
		width: 100%;

		[class^="icon-"],
		[class*="icon-"] {
		 	position: absolute;
		 	left: 50%;
		 	top: 50%;
		 	transform: translate(-50%, -50%);
		}

		&:hover {
			background-color: #20b1ed;

			.controls__tooltip {
				visibility: visible;
				opacity: 1;
			}
		}
	}

	&__tooltip {
		visibility: hidden;
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translateX(-50%);
		margin-top: 4px;
		min-width: 220px;
		text-align: center;
	}

	&--workers {
		display: none;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
	}

	&--table-style {
		.controls__list,
		.controls__link {
			border-radius: 0 !important;
		}

		.controls__tooltip {
			top: auto;
			bottom: 100%;
			margin-bottom: 4px;
		}
	}
}

// tooltip
//----------------------------------------------------//
.tooltip {
	background-color: $default;
	color: #fff;
	font-weight: 700;
	font-size: 12px;
	white-space: nowrap;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	padding: 10px 15px;

	&:before {
		content: '';
		width: 0;
		height: 0;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		border-bottom: 8px solid $default;
		position: absolute;
		bottom: 100%;
		left: 50%;
		margin-left: -10px;
	}

	&__list {
		@extend .reset-bootstrap-list;
	}

	&__li {
		margin-bottom: 9px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	label {
		color: inherit;
	}

	&--arrow-bottom {
		&:before {
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			border-top: 8px solid $default;
			border-bottom: none;
			bottom: auto;
			top: 100%;
		}
	}
}

// table-scroll
//----------------------------------------------------//
.table-scroll {
	overflow: auto;

	table {
		min-width: 1040px;
	}
}

// table
//----------------------------------------------------//
.table {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

	tr {
		cursor: pointer;
		
		&:hover {
			td {
				background-color: #f1f7fb;
			}
		}
	}

	th {
		font-weight: 400;
		color: $gray;
		font-size: 13px;
	}

	.js-toggle-controls {
		cursor: pointer;
	}

	tbody {
		> tr {
			> td {
				vertical-align: middle;
				border-bottom: 1px solid #f2f6fa;
				padding: 12px;
			}
		}
	}

	thead {
		> tr {
			> th {
				border-bottom: 1px solid #f2f6fa;
				padding: 12px 12px 10px;
			}
		}
	}

	.settings {
		margin-top: -10px;
		position: relative;
		top: 5px;
		left: 6px;
	}

	&__controls {
		display: none;
		position: absolute;
		min-width: 312px;
		right: 0;
		top: -20px;
	}

	&__settings {
		display: none;
	}
}

// cells
//----------------------------------------------------//
.cell-controls {
	padding-left: 0 !important;
}

.cell-phone,
.cell-icq {
	white-space: nowrap;
}

// user
//----------------------------------------------------//
.user {
	@extend .reset-bootstrap-link;
	display: table;

	&__pic,
	&__name {
		display: table-cell;
		vertical-align: middle;
	}

	&__pic {
		display: inline-block;
		width: 56px;
		height: 56px;
		border-radius: 50%;
		overflow: hidden;
		background-image: url('../img/placeholder.png');
	}

	&__name {
		padding-left: 16px;
	}
}

// settings
//----------------------------------------------------//
.settings {
	position: relative;
	display: inline-block;
	vertical-align: bottom;
	padding-right: 16px;
	margin-right: 32px;

	&__control {
		transition: opacity 0.1s;

		&:hover {
			opacity: 0.85;
		}

		&:after {
			content: '';
			position: absolute;
			right: 0;
			top: 50%;
			width: 0;
			height: 0;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-top: 5px solid $gray;
			margin-top: -5px;
		}
	}

	&__tooltip {
		visibility: hidden;
		opacity: 0;
		min-width: 250px;
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translateX(-50%);
		margin-top: 4px;
		margin-top: 15px;
		margin-left: -5px;

		&:before {
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			border-bottom: 12px solid $default;
		}

		&.active {
			visibility: visible;
			opacity: 1;
		}
	}
}

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) {

	input[type=checkbox] {
		& + label {
			&:after {
				background-image: url('../img/checked@2x.png');
				background-size: 16px 12px;
			}
		}
	}

	.ui-multiselect-arrow {
		background-image: url('../img/select-arrow@2x.png');
		background-size: 14px 8px;
	}

	.worker__img,
	.user__img {
		background-image: url('../img/placeholder@2x.png');
		background-size: 56px 56px;
	}
}
