.clearfix:after, .row:after, .container:after, .bar:after {
  content: "";
  display: table;
  clear: both; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.custom-popup .fancybox-close {
  display: none; }

.fancybox-overlay {
  background: none; }

.fancybox-skin {
  background-color: transparent; }

@font-face {
  font-family: 'Futura PT';
  src: url("../fonts/futura_pt/light/FuturaPT-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/futura_pt/light/FuturaPT-Light.otf") format("opentype"), url("../fonts/futura_pt/light/FuturaPT-Light.woff") format("woff"), url("../fonts/futura_pt/light/FuturaPT-Light.ttf") format("truetype"), url("../fonts/futura_pt/light/FuturaPT-Light.svg#FuturaPT-Light") format("svg");
  font-weight: 300;
  font-style: normal; }

body {
  background-color: #f8f8fa;
  font-family: "Futura PT", sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.30769;
  color: #515151;
  -webkit-font-smoothing: antialiased; }

strong,
b {
  font-weight: 700; }

a {
  outline: none !important;
  color: inherit;
  text-decoration: none; }

ol {
  counter-reset: headings; }
  ol li:before {
    counter-increment: headings;
    content: counter(headings, decimal); }

.red {
  color: #d4002f; }

.table {
  padding: 0 4px 10px; }

table {
  width: 100%; }

thead {
  font-size: 15px; }

td,
th {
  vertical-align: middle;
  padding: 5px 12px;
  border-bottom: 1px solid #f3f3f3; }

td {
  height: 40px; }

th {
  height: 50px;
  text-align: left; }

.btn {
  display: inline-block;
  text-align: center;
  padding: 11px 15px;
  min-width: 160px;
  background-color: #a0003c;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a0003c), to(#e3002b));
  background-image: -webkit-linear-gradient(top, #a0003c 0%, #e3002b 100%);
  background-image: linear-gradient(180deg, #a0003c 0%, #e3002b 100%);
  border-radius: 100px;
  font-size: 18px;
  color: #fff;
  font-family: "Futura PT", sans-serif;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  outline: none !important; }
  .btn:hover {
    opacity: 0.85; }
  .btn--gray {
    color: #9f9f9f;
    background-image: none;
    background-color: transparent;
    border: 1px solid #9f9f9f; }
    .btn--gray:hover {
      opacity: 1;
      border-color: #797979;
      color: #797979; }

input[type=text],
input[type=password],
input[type=date],
input[type=datetime],
input[type=email],
input[type=number],
input[type=search],
input[type=tel],
input[type=time],
input[type=url],
select,
textarea {
  -webkit-apperance: none;
  outline: none;
  width: 100%;
  border-bottom: 1px solid #515151;
  border-top: none;
  border-left: none;
  border-right: none;
  cursor: text;
  padding: 11px 0;
  border-radius: 0;
  font-size: 15px;
  color: #515151;
  font-family: "Futura PT", sans-serif; }

textarea {
  overflow: auto;
  resize: none;
  border-bottom: none;
  height: 162px;
  background-color: #e5e8f1;
  border-radius: 5px;
  font-size: 20px;
  padding: 23px 20px; }
  textarea ::-webkit-input-placeholder {
    color: #b7bfd9; }
  textarea :-moz-placeholder {
    color: #b7bfd9; }
  textarea ::-moz-placeholder {
    color: #b7bfd9; }
  textarea :-ms-input-placeholder {
    color: #b7bfd9; }

input[type=submit],
button {
  border: none; }
  input[type=submit]:not(.btn),
  button:not(.btn) {
    background-color: transparent; }

.form-row {
  padding: 8px 0;
  position: relative; }

.form-buttons {
  text-align: center;
  padding-top: 63px; }

.form-links {
  text-align: center;
  padding-top: 25px;
  font-size: 18px;
  color: #a8a8a8; }
  .form-links a:hover {
    text-decoration: underline; }

input.error {
  border-bottom-color: #d4002f; }

label.error {
  color: #d4002f;
  position: absolute;
  line-height: 17px;
  top: 0; }

input[type=checkbox],
input[type=radio] {
  position: absolute;
  left: -9999px; }
  input[type=checkbox] + label,
  input[type=radio] + label {
    cursor: pointer;
    position: relative;
    padding-left: 32px;
    display: block;
    line-height: 32px; }
    input[type=checkbox] + label:before, input[type=checkbox] + label:after,
    input[type=radio] + label:before,
    input[type=radio] + label:after {
      content: '';
      position: absolute; }
    input[type=checkbox] + label:before,
    input[type=radio] + label:before {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      border: 2px solid #d7d7d7;
      left: 8px;
      top: 8px; }
    input[type=checkbox] + label:after,
    input[type=radio] + label:after {
      display: none;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: #d4002f;
      position: absolute;
      left: 12px;
      top: 12px; }
  input[type=checkbox]:checked + label,
  input[type=radio]:checked + label {
    background-color: #f0f2f7;
    border-radius: 2px; }
    input[type=checkbox]:checked + label:before,
    input[type=radio]:checked + label:before {
      border-color: #d4002f; }
    input[type=checkbox]:checked + label:after,
    input[type=radio]:checked + label:after {
      display: block; }
  input[type=checkbox].radio--no-text + label,
  input[type=radio].radio--no-text + label {
    line-height: 15px; }
    input[type=checkbox].radio--no-text + label:before,
    input[type=radio].radio--no-text + label:before {
      top: 0; }
    input[type=checkbox].radio--no-text + label:after,
    input[type=radio].radio--no-text + label:after {
      top: 4px; }
  input[type=checkbox].radio--no-text:checked + label,
  input[type=radio].radio--no-text:checked + label {
    background-color: transparent; }

:invalid {
  -webkit-box-shadow: none;
          box-shadow: none; }

:-moz-submit-invalid {
  box-shadow: none; }

:-moz-ui-invalid {
  box-shadow: none; }

::-webkit-input-placeholder {
  opacity: 1;
  color: #9f9f9f; }

:-moz-placeholder {
  opacity: 1;
  color: #9f9f9f; }

::-moz-placeholder {
  opacity: 1;
  color: #9f9f9f; }

:-ms-input-placeholder {
  opacity: 1;
  color: #9f9f9f; }

.select {
  font-size: 13px;
  color: #515151; }
  .select .ui-multiselect-inner {
    position: relative;
    border: 1px solid #d6d6d6;
    background-color: #fff; }
  .select .ui-multiselect-menu-inner {
    background-color: #fff;
    border: 1px solid #d6d6d6; }
  .select .ui-multiselect-inner,
  .select .ui-multiselect-menu-inner label {
    height: 39px;
    line-height: 39px;
    padding: 0 10px; }
  .select .ui-state-hover {
    background-color: #000;
    color: #fff; }
  .select .ui-multiselect-arrow {
    position: absolute;
    right: 14px;
    top: 50%;
    margin-top: -2px; }

[class^='col-'],
[class*=' col-'] {
  float: left;
  padding: 0 15px; }

.row {
  margin: 0 -15px; }

.col-50 {
  width: 50%; }

.col-33 {
  width: 33.33%; }

.col-25 {
  width: 25%; }

body *,
body *:after,
body *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.container {
  position: relative;
  margin: 0 auto;
  width: 1170px;
  padding: 0 15px; }

.wrapper {
  overflow: hidden; }

.header {
  background-color: #fff; }
  .header .container {
    padding-top: 15px;
    padding-bottom: 7px; }
    .header .container:before {
      content: '';
      height: 3px;
      background-color: #e3002b;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#a0003c), to(#e3002b));
      background-image: -webkit-linear-gradient(top, #a0003c 0%, #e3002b 100%);
      background-image: linear-gradient(180deg, #a0003c 0%, #e3002b 100%);
      -webkit-box-shadow: 0 2px 8px rgba(211, 0, 47, 0.3);
              box-shadow: 0 2px 8px rgba(211, 0, 47, 0.3);
      position: absolute;
      top: 100%;
      right: 313px;
      left: -9999px; }
  .header__nav, .header__logo {
    float: left; }
  .header__nav {
    margin-top: 10px; }
  .header__logo {
    margin-left: 20px; }
  .header__account {
    float: right;
    margin-right: 10px; }
  .header__breadcrumbs {
    overflow: hidden;
    padding-top: 5px;
    padding-left: 65px; }

.logo {
  display: block; }

.breadcrumbs {
  font-size: 20px; }
  .breadcrumbs li {
    display: inline-block; }
    .breadcrumbs li:before {
      content: '/';
      display: inline-block;
      margin: 0 5px; }
    .breadcrumbs li:first-child:before {
      display: none; }
    .breadcrumbs li.active {
      color: #d4002f; }
      .breadcrumbs li.active:before {
        color: #d4002f; }
  .breadcrumbs a:hover {
    text-decoration: underline; }

.account {
  font-size: 18px;
  display: block; }
  .account img,
  .account span {
    display: inline-block;
    vertical-align: middle; }
  .account img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-left: 7px; }
  .account:hover span {
    text-decoration: underline; }
  .account:hover img {
    opacity: 0.85; }

.content {
  display: block;
  padding: 20px 0; }

.sidebar {
  padding-left: 5px;
  width: 255px;
  float: left;
  margin-right: 25px;
  height: 100vh;
  position: relative; }
  .sidebar__top {
    height: calc(100vh - 200px);
    overflow: auto; }
  .sidebar__bottom {
    position: absolute;
    height: 200px;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
    color: #d4d4d4; }
    .sidebar__bottom:before {
      content: '';
      position: absolute;
      width: 214px;
      height: 20px;
      border-radius: 500%;
      -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      top: 0px;
      left: 50%;
      margin-left: -107px; }
    .sidebar__bottom .inner {
      padding: 35px 15px;
      background-color: #f8f8fa;
      position: relative; }
    .sidebar__bottom a {
      display: block; }

.menu {
  font-size: 16px;
  color: #9f9f9f;
  padding-right: 12px; }
  .menu .active > a {
    color: #d4002f; }
  .menu a {
    display: block;
    padding: 9px 9px 9px 30px; }
    .menu a:hover {
      background-color: #f1f2f8; }
  .menu span {
    display: inline-block;
    vertical-align: middle; }
  .menu .icon {
    line-height: 0;
    width: 24px;
    height: 20px;
    text-align: center;
    margin-right: 10px;
    float: left;
    position: relative; }
    .menu .icon span {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
    .menu .icon + span {
      display: block;
      overflow: hidden; }

.drop-menu .active a {
  background-color: #f1f2f8;
  border-radius: 4px; }

.drop-menu a {
  padding-left: 62px;
  padding-top: 10px; }

.main {
  overflow: hidden;
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06), 0 -1px 6px rgba(0, 0, 0, 0.06);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06), 0 -1px 6px rgba(0, 0, 0, 0.06); }

[class^="icon-"],
[class*="icon-"] {
  display: inline-block;
  vertical-align: middle; }

.icon-dots {
  background-image: url(../img/sprite.png);
  background-position: -17px -118px;
  width: 16px;
  height: 4px; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .icon-dots {
      background-image: url(../img/sprite@2x.png);
      background-size: 136px 125px; } }

.icon-triangle {
  background-image: url(../img/sprite.png);
  background-position: -126px -18px;
  width: 10px;
  height: 5px; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .icon-triangle {
      background-image: url(../img/sprite@2x.png);
      background-size: 136px 125px; } }

.icon-search {
  background-image: url(../img/sprite.png);
  background-position: -104px 0px;
  width: 17px;
  height: 17px; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .icon-search {
      background-image: url(../img/sprite@2x.png);
      background-size: 136px 125px; } }

.icon-plus {
  background-image: url(../img/sprite.png);
  background-position: -19px -95px;
  width: 14px;
  height: 14px; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .icon-plus {
      background-image: url(../img/sprite@2x.png);
      background-size: 136px 125px; } }

.icon-hamburger {
  background-image: url(../img/sprite.png);
  background-position: -52px -74px;
  width: 18px;
  height: 12px; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .icon-hamburger {
      background-image: url(../img/sprite@2x.png);
      background-size: 136px 125px; } }

.icon-user {
  background-image: url(../img/sprite.png);
  background-position: 0px -49px;
  width: 20px;
  height: 20px; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .icon-user {
      background-image: url(../img/sprite@2x.png);
      background-size: 136px 125px; } }

.icon-bag {
  background-image: url(../img/sprite.png);
  background-position: -79px -25px;
  width: 20px;
  height: 19px; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .icon-bag {
      background-image: url(../img/sprite@2x.png);
      background-size: 136px 125px; } }

.icon-settings {
  background-image: url(../img/sprite.png);
  background-position: -50px -49px;
  width: 20px;
  height: 20px; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .icon-settings {
      background-image: url(../img/sprite@2x.png);
      background-size: 136px 125px; } }

.icon-tooltip {
  background-image: url(../img/sprite.png);
  background-position: 0px -24px;
  width: 20px;
  height: 20px; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .icon-tooltip {
      background-image: url(../img/sprite@2x.png);
      background-size: 136px 125px; } }

.icon-chart {
  background-image: url(../img/sprite.png);
  background-position: -54px 0px;
  width: 20px;
  height: 20px; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .icon-chart {
      background-image: url(../img/sprite@2x.png);
      background-size: 136px 125px; } }

.icon-phone {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 24px;
  height: 19px; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .icon-phone {
      background-image: url(../img/sprite@2x.png);
      background-size: 136px 125px; } }

.icon-phone-2 {
  background-image: url(../img/sprite.png);
  background-position: -29px -25px;
  width: 18px;
  height: 18px; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .icon-phone-2 {
      background-image: url(../img/sprite@2x.png);
      background-size: 136px 125px; } }

.icon-wire {
  background-image: url(../img/sprite.png);
  background-position: -104px -45px;
  width: 14px;
  height: 20px; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .icon-wire {
      background-image: url(../img/sprite@2x.png);
      background-size: 136px 125px; } }

.icon-money {
  background-image: url(../img/sprite.png);
  background-position: -104px -22px;
  width: 16px;
  height: 18px; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .icon-money {
      background-image: url(../img/sprite@2x.png);
      background-size: 136px 125px; } }

.icon-money-2 {
  background-image: url(../img/sprite.png);
  background-position: -79px 0px;
  width: 20px;
  height: 20px; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .icon-money-2 {
      background-image: url(../img/sprite@2x.png);
      background-size: 136px 125px; } }

.icon-volume {
  background-image: url(../img/sprite.png);
  background-position: -79px -49px;
  width: 18px;
  height: 18px; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .icon-volume {
      background-image: url(../img/sprite@2x.png);
      background-size: 136px 125px; } }

.icon-envelope {
  background-image: url(../img/sprite.png);
  background-position: 0px -74px;
  width: 20px;
  height: 16px; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .icon-envelope {
      background-image: url(../img/sprite@2x.png);
      background-size: 136px 125px; } }

.icon-edit {
  background-image: url(../img/sprite.png);
  background-position: -38px -95px;
  width: 13px;
  height: 13px; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .icon-edit {
      background-image: url(../img/sprite@2x.png);
      background-size: 136px 125px; } }
  .icon-edit:hover {
    background-image: url(../img/sprite.png);
    background-position: -74px -95px;
    width: 13px;
    height: 13px; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      .icon-edit:hover {
        background-image: url(../img/sprite@2x.png);
        background-size: 136px 125px; } }

.icon-delete {
  background-image: url(../img/sprite.png);
  background-position: -126px 0px;
  width: 10px;
  height: 13px; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .icon-delete {
      background-image: url(../img/sprite@2x.png);
      background-size: 136px 125px; } }
  .icon-delete:hover {
    background-image: url(../img/sprite.png);
    background-position: -92px -95px;
    width: 10px;
    height: 13px; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      .icon-delete:hover {
        background-image: url(../img/sprite@2x.png);
        background-size: 136px 125px; } }

.icon-arrow {
  background-image: url(../img/sprite.png);
  background-position: -75px -74px;
  width: 12px;
  height: 7px; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .icon-arrow {
      background-image: url(../img/sprite@2x.png);
      background-size: 136px 125px; } }
  .icon-arrow:hover {
    background-image: url(../img/sprite.png);
    background-position: 0px -118px;
    width: 12px;
    height: 7px; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      .icon-arrow:hover {
        background-image: url(../img/sprite@2x.png);
        background-size: 136px 125px; } }

.active > a .icon-blocks {
  background-image: url(../img/sprite.png);
  background-position: -29px 0px;
  width: 20px;
  height: 20px; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .active > a .icon-blocks {
      background-image: url(../img/sprite@2x.png);
      background-size: 136px 125px; } }

.active > a .icon-user {
  background-image: url(../img/sprite.png);
  background-position: -25px -49px;
  width: 20px;
  height: 20px; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .active > a .icon-user {
      background-image: url(../img/sprite@2x.png);
      background-size: 136px 125px; } }

.active > a .icon-group {
  background-image: url(../img/sprite.png);
  background-position: -25px -74px;
  width: 22px;
  height: 14px; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .active > a .icon-group {
      background-image: url(../img/sprite@2x.png);
      background-size: 136px 125px; } }

.hide-scrollbar {
  overflow: hidden; }
  .hide-scrollbar > * {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    width: 100%;
    padding-right: 17px; }

.has-marker {
  position: relative; }
  .has-marker:before {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    opacity: 0.6;
    background-color: #b0b7cd;
    border: 1px solid #5b6a97;
    border-radius: 50%;
    top: 6px;
    left: -18px; }

.link-add {
  font-size: 15px;
  padding-left: 25px;
  position: relative;
  line-height: 35px;
  display: inline-block; }
  .link-add:hover {
    text-decoration: underline; }
  .link-add:before {
    background-image: url(../img/sprite.png);
    background-position: -19px -95px;
    width: 14px;
    height: 14px;
    content: '';
    position: absolute;
    left: 0;
    top: 11px; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      .link-add:before {
        background-image: url(../img/sprite@2x.png);
        background-size: 136px 125px; } }

.link-edit {
  font-size: 15px;
  padding-left: 25px;
  position: relative;
  line-height: 35px;
  display: inline-block; }
  .link-edit:hover {
    text-decoration: underline; }
  .link-edit:before {
    background-image: url(../img/sprite.png);
    background-position: -54px -25px;
    width: 18px;
    height: 18px;
    content: '';
    position: absolute;
    left: 0;
    top: 9px; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      .link-edit:before {
        background-image: url(../img/sprite@2x.png);
        background-size: 136px 125px; } }

.link-delete {
  font-size: 15px;
  padding-left: 25px;
  position: relative;
  line-height: 35px;
  display: inline-block; }
  .link-delete:hover {
    text-decoration: underline; }
  .link-delete:before {
    background-image: url(../img/sprite.png);
    background-position: 0px -95px;
    width: 14px;
    height: 18px;
    content: '';
    position: absolute;
    left: 0;
    top: 8px; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      .link-delete:before {
        background-image: url(../img/sprite@2x.png);
        background-size: 136px 125px; } }

.link-arrows {
  font-size: 15px;
  padding-left: 20px;
  position: relative;
  line-height: 35px;
  display: inline-block; }
  .link-arrows:hover {
    text-decoration: underline; }
  .link-arrows:before {
    background-image: url(../img/sprite.png);
    background-position: -104px -70px;
    width: 14px;
    height: 18px;
    content: '';
    position: absolute;
    left: 0;
    top: 8px; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      .link-arrows:before {
        background-image: url(../img/sprite@2x.png);
        background-size: 136px 125px; } }

.link-gray {
  font-size: 14px;
  color: #9f9f9f;
  line-height: 35px;
  display: inline-block; }
  .link-gray:hover {
    text-decoration: underline; }

.link-dots {
  padding: 5px 0; }
  .link-dots:hover {
    opacity: 0.7; }

.row-drop {
  display: none; }
  .row-drop.visible {
    display: table-row; }
  .row-drop > td {
    padding: 0 0 4px; }
  .row-drop table {
    background-color: #f0f2f7; }
    .row-drop table th,
    .row-drop table td {
      border-bottom-color: rgba(193, 191, 217, 0.4); }
      .row-drop table th:first-child,
      .row-drop table td:first-child {
        padding-left: 34px; }
  .row-drop thead {
    background-color: #e5e8f1;
    color: #5b6a97;
    font-size: 13px; }
  .row-drop th {
    height: 40px; }
  .row-drop tr:last-child td {
    border-bottom: none; }
  .row-drop .icon-edit {
    background-image: url(../img/sprite.png);
    background-position: -74px -95px;
    width: 13px;
    height: 13px; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      .row-drop .icon-edit {
        background-image: url(../img/sprite@2x.png);
        background-size: 136px 125px; } }
  .row-drop .icon-delete {
    background-image: url(../img/sprite.png);
    background-position: -92px -95px;
    width: 10px;
    height: 13px; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      .row-drop .icon-delete {
        background-image: url(../img/sprite@2x.png);
        background-size: 136px 125px; } }
  .row-drop .icon-arrow {
    background-image: url(../img/sprite.png);
    background-position: 0px -118px;
    width: 12px;
    height: 7px;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      .row-drop .icon-arrow {
        background-image: url(../img/sprite@2x.png);
        background-size: 136px 125px; } }

.drop-open {
  background-color: #f0f2f7; }
  .drop-open > td {
    border-bottom-color: rgba(193, 191, 217, 0.4); }
    .drop-open > td:first-child {
      border-top-left-radius: 2px; }
    .drop-open > td:last-child {
      border-top-right-radius: 2px; }
  .drop-open .icon-edit {
    background-image: url(../img/sprite.png);
    background-position: -74px -95px;
    width: 13px;
    height: 13px; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      .drop-open .icon-edit {
        background-image: url(../img/sprite@2x.png);
        background-size: 136px 125px; } }
  .drop-open .icon-delete {
    background-image: url(../img/sprite.png);
    background-position: -92px -95px;
    width: 10px;
    height: 13px; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      .drop-open .icon-delete {
        background-image: url(../img/sprite@2x.png);
        background-size: 136px 125px; } }
  .drop-open .icon-arrow {
    background-image: url(../img/sprite.png);
    background-position: 0px -118px;
    width: 12px;
    height: 7px;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      .drop-open .icon-arrow {
        background-image: url(../img/sprite@2x.png);
        background-size: 136px 125px; } }

.cell-actions {
  width: 94px; }

.row-shadow td {
  border-bottom: none;
  height: 3px;
  padding: 0;
  vertical-align: top; }

.shadow {
  width: 100%;
  height: 3px;
  overflow: hidden; }
  .shadow .inner {
    display: block;
    width: 100%;
    height: 6px;
    margin-top: -6px;
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); }

.popup {
  display: none;
  padding: 21px;
  /* for shadow */ }

.login {
  background-color: #fff;
  padding: 61px 62px 56px;
  width: 408px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06), 0 -1px 21px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06), 0 -1px 21px rgba(0, 0, 0, 0.1); }
  .login__logo {
    width: 88px;
    margin: 0 auto 15px; }
  .login__title {
    font-size: 32px;
    display: block;
    text-align: center;
    margin-bottom: 20px; }

.modal {
  width: 429px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06), 0 -1px 6px rgba(0, 0, 0, 0.06);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06), 0 -1px 6px rgba(0, 0, 0, 0.06);
  background-color: #fff;
  border-radius: 4px;
  padding: 38px 38px 44px;
  text-align: center; }
  .modal__question {
    font-size: 24px;
    line-height: 1.29167;
    max-width: 80%;
    margin: 0 auto 20px;
    display: block; }
  .modal__buttons {
    padding-top: 26px;
    margin: 0 -11px; }
    .modal__buttons .btn {
      margin: 0 11px; }

.bar {
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  padding: 4px;
  position: relative; }
  .bar__form {
    position: relative;
    overflow: hidden; }
    .bar__form input[type=text],
    .bar__form input[type=search] {
      border-bottom: none;
      font-size: 16px;
      padding: 7px 40px; }
    .bar__form button {
      position: absolute;
      top: 8px;
      left: 10px; }
  .bar__links {
    float: right;
    padding: 0 8px; }
    .bar__links .link-gray {
      margin-left: 20px; }
    .bar__links .link-dots {
      margin-right: 5px;
      margin-left: 23px; }

.actions .icon-edit {
  margin-right: 12px; }

.actions .icon-delete {
  margin-right: 14px; }

.choose {
  display: inline-block;
  margin-left: 40px; }
  .choose__toggle {
    font-size: 14px;
    position: relative;
    padding-right: 26px;
    display: inline-block;
    line-height: 35px; }
    .choose__toggle:after {
      background-image: url(../img/sprite.png);
      background-position: -126px -18px;
      width: 10px;
      height: 5px;
      content: '';
      position: absolute;
      right: 3px;
      top: 17px; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .choose__toggle:after {
          background-image: url(../img/sprite@2x.png);
          background-size: 136px 125px; } }
    .choose__toggle.active:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 3px;
      top: -4px;
      background-color: #d4002f; }
    .choose__toggle:hover {
      text-decoration: underline; }
  .choose__drop {
    visibility: hidden;
    width: 225px;
    background-color: #fff;
    position: absolute;
    z-index: 100;
    top: 44px;
    right: 0;
    border-radius: 0 4px 4px 0;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
    opacity: 0;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }
    .choose__drop.visible {
      visibility: visible;
      opacity: 1; }
  .choose__controls {
    border-bottom: 1px solid #e4e4e4;
    padding: 7px 18px; }
    .choose__controls .link-add {
      padding-left: 44px; }
  .choose__list {
    padding: 4px; }
    .choose__list li {
      position: relative;
      margin-bottom: 10px; }
      .choose__list li:last-child {
        margin-bottom: 0; }
    .choose__list .actions {
      position: absolute;
      right: -3px;
      top: 6px; }
    .choose__list .icon-edit {
      margin-right: 5px; }
    .choose__list label {
      padding-right: 55px; }
    .choose__list input[type=radio]:checked + label + .actions .icon-edit:hover,
    .choose__list input[type=radio]:checked + label + .actions .icon-delete:hover,
    .choose__list input[type=checkbox]:checked + label + .actions .icon-edit:hover,
    .choose__list input[type=checkbox]:checked + label + .actions .icon-delete:hover {
      opacity: 0.7; }
    .choose__list input[type=radio]:checked + label + .actions .icon-edit,
    .choose__list input[type=checkbox]:checked + label + .actions .icon-edit {
      background-image: url(../img/sprite.png);
      background-position: -56px -95px;
      width: 13px;
      height: 13px; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .choose__list input[type=radio]:checked + label + .actions .icon-edit,
        .choose__list input[type=checkbox]:checked + label + .actions .icon-edit {
          background-image: url(../img/sprite@2x.png);
          background-size: 136px 125px; } }
    .choose__list input[type=radio]:checked + label + .actions .icon-delete,
    .choose__list input[type=checkbox]:checked + label + .actions .icon-delete {
      background-image: url(../img/sprite.png);
      background-position: -107px -95px;
      width: 10px;
      height: 13px; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .choose__list input[type=radio]:checked + label + .actions .icon-delete,
        .choose__list input[type=checkbox]:checked + label + .actions .icon-delete {
          background-image: url(../img/sprite@2x.png);
          background-size: 136px 125px; } }

.row-controls td {
  height: 60px;
  padding-left: 20px;
  padding-right: 20px; }

.controls a {
  margin-right: 26px; }
  .controls a:last-child {
    margin-right: 0; }

.workers-table {
  color: #9f9f9f;
  border-collapse: separate; }
  .workers-table tbody tr:not(.row-controls) {
    cursor: pointer; }

.cell-user {
  color: #515151; }

.cell-radio {
  padding: 5px 2px;
  width: 20px; }

.row-checked {
  background-color: #f0f2f7;
  border-bottom: 1px solid red; }
  .row-checked > td {
    border-top: 4px solid #fff;
    border-bottom: 4px solid #fff; }

.cell-phone {
  white-space: nowrap; }
