/*
  fancybox
  jscrollpane
*/

/* fancybox */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp{
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}
.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}
.fancybox-skin {
  position: relative;
  background: #ffffff;
  color: #6b6b6b;
  text-shadow: none;
}
.fancybox-opened {
  z-index: 8030;
}
.fancybox-outer, .fancybox-inner {
  position: relative;
}
.fancybox-inner {
  overflow: hidden;
}
.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}
.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}
.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
}
.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url('../img/fancybox/fancybox_sprite.png');
}
#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060;
}
#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url('../img/fancybox/fancybox_loading.gif') center center no-repeat;
}
.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040;
}
.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url('../img/fancybox/blank.gif'); /* helps IE */
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  z-index: 8040;
}
.fancybox-prev {
  left: 0;
}
.fancybox-next {
  right: 0;
}
.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden;
}
.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px;
}
.fancybox-next span {
  right: 10px;
  background-position: 0 -72px;
}
.fancybox-nav:hover span {
  visibility: visible;
}
.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}
.fancybox-lock {
  overflow: hidden !important;
  width: auto;
}
.fancybox-lock body {
  /*overflow: hidden !important;*/
}
.fancybox-lock-test {
  overflow-y: hidden !important;
}
.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url('../img/fancybox/fancybox_overlay.png');
}
.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}
.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}
/* fancybox end */

/* ui-multiselect */
.ui-multiselect { text-align:left; }
.ui-multiselect,
.ui-multiselect *:hover,
.ui-multiselect *:focus { outline:none !important; }
button.ui-multiselect::-moz-focus-inner {
  padding:0;
  border:0;
}
button.ui-multiselect {
  display:block;
  cursor:pointer;
  background:none !important;
  border:0 !important;
  padding:0 !important;
  height:auto !important;
  width:100% !important;
  position:relative;
  overflow:visible;
}
button.ui-multiselect:after { content:""; }
button.ui-multiselect .ui-multiselect-inner {
  display:block;
  position:relative;
  overflow:hidden;
  zoom:1;
}
button.ui-multiselect.ui-state-disabled,
button.ui-multiselect.ui-state-disabled * { cursor:default !important; }
button.ui-multiselect .ui-multiselect-value {
  display:block;
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow:hidden;
  zoom:1;
  max-width:100%;
}
button.ui-multiselect .ui-multiselect-divider {
  position:absolute;
  width:0;
}
button.ui-multiselect .ui-multiselect-arrow {
  position:absolute;
}
button.ui-multiselect .ui-multiselect-icon {
  background:url(../img/sprite-icons.png) no-repeat 0 0;
  position:absolute;
}
.ui-multiselect-single .ui-multiselect-checkboxes input {
  position:absolute !important;
  top:auto !important;
  left:-9999px;
}
.ui-multiselect-header li.ui-multiselect-close {
  text-align:right;
}
.ui-multiselect-menu {
  display:none;
  position:absolute;
  z-index:10000;
  text-align:left;
  left:0;
  top:0;
}
.ui-multiselect-checkboxes {
  position:relative /* fixes bug in IE6/7 */;
  overflow-y:auto;
}
.ui-multiselect-checkboxes label {
  display:block;
  border:none;
}
.ui-multiselect-checkboxes label input {
  position:relative;
}
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label {
  text-align:center;
}
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label a {
  display:block;
  text-decoration:none;
}
div.ui-widget-icons .ui-multiselect-checkboxes input {
  position:absolute;
  top:0;
  left:-9999px;
}
div.ui-widget-icons .ui-multiselect-checkboxes em {
  position:absolute;
  left:0;
}
div.ui-widget-icons .ui-multiselect-checkboxes i {
  position:absolute;
  top:50%;
  left:50%;
}
.ui-multiselect-hasfilter ul {
  position:relative;
}
.ui-multiselect-filter input {
  width:100px;
  -webkit-appearance:textfield;
  -webkit-box-sizing:content-box;
}
div.ui-multiselect-menu ul,
div.ui-multiselect-menu li {
  background:none;
  margin:0;
  padding:0;
  list-style:none;
}
div.ui-multiselect-menu ul {
  max-height:300px;
  overflow:visible;
  background:url(../img/empty.png) repeat;
}
div.ui-multiselect-menu .ui-multiselect-checkboxes li:first-child {
  display:none !important;
}
div.ui-multiselect-menu li {
  overflow:hidden;
  zoom:1;
}
div.ui-multiselect-menu ul label {
  cursor:pointer;
  position:relative;
}
.list-fix-scroll {
  overflow-y:auto !important;
}
.wrap-select,
[class^="wrap-select-"],
[class*=" wrap-select-"] {
  position:relative;
}
.wrap-select select,
[class^="wrap-select-"] select,
[class*=" wrap-select-"] select {
  width:100%;
}
/* ui-multiselect end */

 /*scrollPane */
.jspContainer
{
  overflow: hidden;
  position: relative;
}

.jspPane
{
  position: absolute;
  width: 100% !important;
}

.jspVerticalBar
{
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  height: 100%;
  background: transparent;
}

.jspHorizontalBar
{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 16px;
  background: red;
}

.jspCap
{
  display: none;
}

.jspHorizontalBar .jspCap
{
  float: left;
}

.jspTrack
{
  background: transparent;
  position: relative;
  z-index: 3;
}

.jspDrag
{
  background-color: rgba(128, 128, 128, 0.6);
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
  float: left;
  height: 100%;
}

.jspArrow
{
  background: #50506d;
  text-indent: -20000px;
  display: block;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.jspArrow.jspDisabled
{
  cursor: default;
  background: #80808d;
}

.jspVerticalBar .jspArrow
{
  height: 16px;
}

.jspHorizontalBar .jspArrow
{
  width: 16px;
  float: left;
  height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
  outline: none;
}

.jspCorner
{
  background: #eeeef4;
  float: left;
  height: 100%;
}

* html .jspCorner
{
  margin: 0 -3px 0 0;
}

/* scrollPane end */