//----------------------------------------------------//
// Fonts                                              //
//----------------------------------------------------//

// Futura PT
//----------------------------------------------------//
@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/futura_pt/light/FuturaPT-Light.eot?#iefix') format('embedded-opentype'),  
  		 url('../fonts/futura_pt/light/FuturaPT-Light.otf')  format('opentype'),
	     url('../fonts/futura_pt/light/FuturaPT-Light.woff') format('woff'), 
	     url('../fonts/futura_pt/light/FuturaPT-Light.ttf')  format('truetype'), 
	     url('../fonts/futura_pt/light/FuturaPT-Light.svg#FuturaPT-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}