//----------------------------------------------------//
// FORMS                                              //
//----------------------------------------------------//

// Buttons
//----------------------------------------------------//
.btn {
	display: inline-block;
	text-align: center;
	padding: 11px 15px;
	min-width: 160px;
	background-color: #a0003c;
	background-image: linear-gradient(180deg, #a0003c 0%, #e3002b 100%);
	border-radius: 100px;
	font-size: 18px;
	color: #fff;
	font-family: $mainFont;
	cursor: pointer;
	transition: all 0.2s;
	outline: none !important;

	&:hover {
		// background-image: linear-gradient(180deg, #e3002b 0%, #a0003c 100%);
		opacity: 0.85;
	}

	&--gray {
		color: #9f9f9f;
		background-image: none;
		background-color: transparent;
		border: 1px solid $gray;

		&:hover {
			opacity: 1;
			border-color: darken($gray, 15%);
			color: darken($gray, 15%);
		}
	}
}

// Input
//----------------------------------------------------//
input[type=text],
input[type=password], 
input[type=date], 
input[type=datetime], 
input[type=email], 
input[type=number], 
input[type=search], 
input[type=tel], 
input[type=time], 
input[type=url],
select,
textarea {
	-webkit-apperance: none;
	outline: none;
	width: 100%;
	border-bottom: 1px solid $mainFontColor;
	border-top: none;
	border-left: none;
	border-right: none;
	cursor: text;
	padding: 11px 0;
  border-radius: 0;
  font-size: 15px;
  color: $mainFontColor;
  font-family: $mainFont;
}

textarea {
	overflow: auto;
	resize: none;
	border-bottom: none;
	height: 162px;
	background-color: #e5e8f1;
	border-radius: 5px;
	font-size: 20px;
	padding: 23px 20px;

	::-webkit-input-placeholder {
		color: #b7bfd9;
	}
	:-moz-placeholder {
		color: #b7bfd9;
	}
	::-moz-placeholder {
		color: #b7bfd9;
	}
	:-ms-input-placeholder {
		color: #b7bfd9;
	}
}

input[type=submit],
button {
	border: none;

	&:not(.btn) {
		background-color: transparent;
	}
}

// Form layout
//----------------------------------------------------//
.form-row {
	padding: 8px 0;
	position: relative;
}

.form-buttons {
	text-align: center;
	padding-top: 63px;
}

.form-links {
	text-align: center;
	padding-top: 25px;
	font-size: 18px;
	color: #a8a8a8;

	a {
		&:hover {
			text-decoration: underline;
		}
	}
}

// errors
//----------------------------------------------------//
input.error {
	border-bottom-color: $red;
}

label.error {
	color: $red;
	position: absolute;
	line-height: 17px;
	top: 0;
}

// Checkbox
//----------------------------------------------------//
input[type=checkbox],
input[type=radio] {
	position: absolute;
	left: -9999px;

	& + label {
		cursor: pointer;
		position: relative;
		padding-left: 32px;
		display: block;
		line-height: 32px;

		&:before,
		&:after {
			content: '';
			position: absolute;
		}

		&:before {
			width: 15px;
			height: 15px;
			border-radius: 50%;
			border: 2px solid #d7d7d7;
			left: 8px;
			top: 8px;
		}

		&:after {
			display: none;
			width: 7px;
			height: 7px;
			border-radius: 50%;
			background-color: $red;
			position: absolute;
			left: 12px;
			top: 12px;
		}
	}

	&:checked + label {
		background-color: #f0f2f7;
		border-radius: 2px;

		&:before {
			border-color: $red;
		}

		&:after {
			display: block;
		}
	}

	&.radio--no-text {
		& + label {
			line-height: 15px;

			&:before {
				top: 0;
			}

			&:after {
				top: 4px;
			}
		}
		
		&:checked + label {
			background-color: transparent;
		}
	}
}

// firefox invalid
//----------------------------------------------------//
:invalid {
  box-shadow: none;
}

:-moz-submit-invalid {
  box-shadow: none;
}

:-moz-ui-invalid {
  box-shadow:none;
}

// Placeholder
//----------------------------------------------------//
::-webkit-input-placeholder {
	opacity: 1;
	color: $gray;
}
:-moz-placeholder {
	opacity: 1;
	color: $gray;
}
::-moz-placeholder {
	opacity: 1;
	color: $gray;
}
:-ms-input-placeholder {
	opacity: 1;
	color: $gray;
}

// Select
//----------------------------------------------------//
.select {
	font-size: $mainFontSize;
	color: $mainFontColor;
	.ui-multiselect-inner {
		position: relative;
		border: 1px solid #d6d6d6;
		background-color: #fff;
	}
	.ui-multiselect-menu-inner {
		background-color: #fff;
		border: 1px solid #d6d6d6;
	}
	.ui-multiselect-inner,
	.ui-multiselect-menu-inner label {
		height: 39px;
		line-height: 39px;
		padding: 0 10px;
	}
	.ui-state-hover {
		background-color: #000;
		color: #fff;
	}
	.ui-multiselect-arrow {
		position: absolute;
		right: 14px;
		top: 50%;
		margin-top: -2px;
	}
}