//----------------------------------------------------//
// LAYOUT                                             //
//----------------------------------------------------//

// Columns
//----------------------------------------------------//
[class^='col-'],
[class*=' col-'] {
	float: left;
	padding: 0 15px;
}
.row {
	@extend .clearfix;
	margin: 0 -15px;
}
.col-50 {
	width: 50%;
}
.col-33 {
	width: 33.33%;
}
.col-25 {
	width: 25%;
}

// General styles
//----------------------------------------------------//
body *,
body *:after,
body *:before {
	box-sizing: border-box;
}

.container {
	@extend .clearfix;
	position: relative;
	margin: 0 auto;
	width: 1170px;
	padding: 0 15px;
}

.wrapper {
	overflow: hidden;
}

// header
//----------------------------------------------------//
.header {
	background-color: #fff;

	.container {
		padding-top: 15px;
		padding-bottom: 7px;

		&:before {
			content: '';
			height: 3px;
			background-color: #e3002b;
			background-image: linear-gradient(180deg, #a0003c 0%, #e3002b 100%);
			box-shadow: 0 2px 8px rgba(211, 0, 47, 0.3);
			position: absolute;
			top: 100%;
			right: 313px;
			left: -9999px;
		}
	}


	&__nav,
	&__logo {
		float: left;
	}

	&__nav {
		margin-top: 10px;
	}

	&__logo {
		margin-left: 20px;
	}

	&__account {
		float: right;
		margin-right: 10px;
	}

	&__breadcrumbs {
		overflow: hidden;
		padding-top: 5px;
		padding-left: 65px;
	}
}

// logo
//----------------------------------------------------//
.logo {
	display: block;
}

// breadcrumbs
//----------------------------------------------------//
.breadcrumbs {
	font-size: 20px;

	li {
		display: inline-block;

		&:before {
			content: '/';
			display: inline-block;
			margin: 0 5px;
		}

		&:first-child {
			
			&:before {
				display: none;
			}
		}

		&.active {
			color: $red;

			&:before {
				color: $red;
			}
		}
	}

	a {
		&:hover {
			text-decoration: underline;
		}
	}
}

// account
//----------------------------------------------------//
.account {
	font-size: 18px;
	display: block;

	img,
	span {
		display: inline-block;
		vertical-align: middle;
	}

	img {
		width: 36px;
		height: 36px;
		border-radius: 50%;
		margin-left: 7px;
	}

	&:hover {
		span {
			text-decoration: underline;
		}

		img {
			opacity: 0.85;
		}
	}
}

// content
//----------------------------------------------------//
.content {
	display: block;
	padding: 20px 0;
}

// sidebar
//----------------------------------------------------//
.sidebar {
	padding-left: 5px;
	width: 255px;
	float: left;
	margin-right: 25px;
	height: 100vh;
	position: relative;

	&__top {
		height: calc(100vh - 200px);
		overflow: auto;
	}

	&__bottom {
		position: absolute;
		height: 200px;
		width: 100%;
		bottom: 0;
		left: 0;
		text-align: center;
		color: #d4d4d4;
		// box-shadow: 0 0 5px #000;

		&:before {
			content: '';
			position: absolute;
			width: 214px;
			height: 20px;
			border-radius: 500%;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
			top: 0px;
			left: 50%;
			margin-left: -107px;
		}

		.inner {
			padding: 35px 15px;
			background-color: #f8f8fa;
			position: relative;
		}

		a {
			display: block;
		}
	}
}

// menu
//----------------------------------------------------//
.menu {
	font-size: 16px;
	color: $gray;
	padding-right: 12px;


	.active {
		> a {
			color: $red;
		}
	}

	a {
		display: block;
		padding: 9px 9px 9px 30px;

		&:hover {
			background-color: #f1f2f8;
		}
	}

	span {
		display: inline-block;
		vertical-align: middle;
	}

	.icon {
		line-height: 0;
		width: 24px;
		height: 20px;
		text-align: center;
		margin-right: 10px;
		float: left;
		position: relative;

		span {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		& + span {
			display: block;
			overflow: hidden;
		}
	}
}

// drop-menu
//----------------------------------------------------//
.drop-menu {
	.active {
		a {
			background-color: #f1f2f8;
			border-radius: 4px;
		}
	}

	a {
		padding-left: 62px;
		padding-top: 10px;
	}
}

// main
//----------------------------------------------------//
.main {
	overflow: hidden;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06), 0 -1px 6px rgba(0, 0, 0, 0.06);
}

