//----------------------------------------------------//
// Mixins & Includes                                  //
//----------------------------------------------------//
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

@mixin sprite-without-image($sprite) {
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

@mixin clearSelect {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;   
	-webkit-border-radius: 0; 
	-moz-border-radius: 0; 
	border-radius: 0;
}

@mixin b($point) {
	@if $point == desktop {
		@media (min-width: 1366px) { @content ; }
	}
	@else if $point == laptop {
		@media (max-width: 1365px) { @content ; }
	}
	@else if $point == tablet {
		@media (max-width: 1023px) { @content ; }
	}
	@else if $point == phablet {
		@media (min-width: 37.5em)  { @content ; }
	}
	@else if $point == mobile {
		@media (max-width: 767px)  { @content ; }
	}
	@else if $point == mobile3x {
		@media only screen and (-webkit-min-device-pixel-ratio: 3), only screen and (min-resolution: 3dppx), only screen and (min-resolution: 350dpi) { 
			@content ;
		}
	}
}