// fancybox
//----------------------------------------------------//
.custom-popup {
	.fancybox-close {
		display: none;
	}
}

.fancybox-overlay {
	background: none;
}

.fancybox-skin {
	background-color: transparent;
}