/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$arrow-active-name: 'arrow-active';
$arrow-active-x: 0px;
$arrow-active-y: 118px;
$arrow-active-offset-x: 0px;
$arrow-active-offset-y: -118px;
$arrow-active-width: 12px;
$arrow-active-height: 7px;
$arrow-active-total-width: 136px;
$arrow-active-total-height: 125px;
$arrow-active-image: '../img/sprite.png';
$arrow-active: (0px, 118px, 0px, -118px, 12px, 7px, 136px, 125px, '../img/sprite.png', 'arrow-active', );
$arrow-name: 'arrow';
$arrow-x: 75px;
$arrow-y: 74px;
$arrow-offset-x: -75px;
$arrow-offset-y: -74px;
$arrow-width: 12px;
$arrow-height: 7px;
$arrow-total-width: 136px;
$arrow-total-height: 125px;
$arrow-image: '../img/sprite.png';
$arrow: (75px, 74px, -75px, -74px, 12px, 7px, 136px, 125px, '../img/sprite.png', 'arrow', );
$arrows-name: 'arrows';
$arrows-x: 104px;
$arrows-y: 70px;
$arrows-offset-x: -104px;
$arrows-offset-y: -70px;
$arrows-width: 14px;
$arrows-height: 18px;
$arrows-total-width: 136px;
$arrows-total-height: 125px;
$arrows-image: '../img/sprite.png';
$arrows: (104px, 70px, -104px, -70px, 14px, 18px, 136px, 125px, '../img/sprite.png', 'arrows', );
$bag-name: 'bag';
$bag-x: 79px;
$bag-y: 25px;
$bag-offset-x: -79px;
$bag-offset-y: -25px;
$bag-width: 20px;
$bag-height: 19px;
$bag-total-width: 136px;
$bag-total-height: 125px;
$bag-image: '../img/sprite.png';
$bag: (79px, 25px, -79px, -25px, 20px, 19px, 136px, 125px, '../img/sprite.png', 'bag', );
$blocks-active-name: 'blocks-active';
$blocks-active-x: 29px;
$blocks-active-y: 0px;
$blocks-active-offset-x: -29px;
$blocks-active-offset-y: 0px;
$blocks-active-width: 20px;
$blocks-active-height: 20px;
$blocks-active-total-width: 136px;
$blocks-active-total-height: 125px;
$blocks-active-image: '../img/sprite.png';
$blocks-active: (29px, 0px, -29px, 0px, 20px, 20px, 136px, 125px, '../img/sprite.png', 'blocks-active', );
$chart-name: 'chart';
$chart-x: 54px;
$chart-y: 0px;
$chart-offset-x: -54px;
$chart-offset-y: 0px;
$chart-width: 20px;
$chart-height: 20px;
$chart-total-width: 136px;
$chart-total-height: 125px;
$chart-image: '../img/sprite.png';
$chart: (54px, 0px, -54px, 0px, 20px, 20px, 136px, 125px, '../img/sprite.png', 'chart', );
$delete-active-name: 'delete-active';
$delete-active-x: 92px;
$delete-active-y: 95px;
$delete-active-offset-x: -92px;
$delete-active-offset-y: -95px;
$delete-active-width: 10px;
$delete-active-height: 13px;
$delete-active-total-width: 136px;
$delete-active-total-height: 125px;
$delete-active-image: '../img/sprite.png';
$delete-active: (92px, 95px, -92px, -95px, 10px, 13px, 136px, 125px, '../img/sprite.png', 'delete-active', );
$delete-md-name: 'delete-md';
$delete-md-x: 0px;
$delete-md-y: 95px;
$delete-md-offset-x: 0px;
$delete-md-offset-y: -95px;
$delete-md-width: 14px;
$delete-md-height: 18px;
$delete-md-total-width: 136px;
$delete-md-total-height: 125px;
$delete-md-image: '../img/sprite.png';
$delete-md: (0px, 95px, 0px, -95px, 14px, 18px, 136px, 125px, '../img/sprite.png', 'delete-md', );
$delete-red-name: 'delete-red';
$delete-red-x: 107px;
$delete-red-y: 95px;
$delete-red-offset-x: -107px;
$delete-red-offset-y: -95px;
$delete-red-width: 10px;
$delete-red-height: 13px;
$delete-red-total-width: 136px;
$delete-red-total-height: 125px;
$delete-red-image: '../img/sprite.png';
$delete-red: (107px, 95px, -107px, -95px, 10px, 13px, 136px, 125px, '../img/sprite.png', 'delete-red', );
$delete-name: 'delete';
$delete-x: 126px;
$delete-y: 0px;
$delete-offset-x: -126px;
$delete-offset-y: 0px;
$delete-width: 10px;
$delete-height: 13px;
$delete-total-width: 136px;
$delete-total-height: 125px;
$delete-image: '../img/sprite.png';
$delete: (126px, 0px, -126px, 0px, 10px, 13px, 136px, 125px, '../img/sprite.png', 'delete', );
$dots-name: 'dots';
$dots-x: 17px;
$dots-y: 118px;
$dots-offset-x: -17px;
$dots-offset-y: -118px;
$dots-width: 16px;
$dots-height: 4px;
$dots-total-width: 136px;
$dots-total-height: 125px;
$dots-image: '../img/sprite.png';
$dots: (17px, 118px, -17px, -118px, 16px, 4px, 136px, 125px, '../img/sprite.png', 'dots', );
$edit-active-name: 'edit-active';
$edit-active-x: 74px;
$edit-active-y: 95px;
$edit-active-offset-x: -74px;
$edit-active-offset-y: -95px;
$edit-active-width: 13px;
$edit-active-height: 13px;
$edit-active-total-width: 136px;
$edit-active-total-height: 125px;
$edit-active-image: '../img/sprite.png';
$edit-active: (74px, 95px, -74px, -95px, 13px, 13px, 136px, 125px, '../img/sprite.png', 'edit-active', );
$edit-md-name: 'edit-md';
$edit-md-x: 54px;
$edit-md-y: 25px;
$edit-md-offset-x: -54px;
$edit-md-offset-y: -25px;
$edit-md-width: 18px;
$edit-md-height: 18px;
$edit-md-total-width: 136px;
$edit-md-total-height: 125px;
$edit-md-image: '../img/sprite.png';
$edit-md: (54px, 25px, -54px, -25px, 18px, 18px, 136px, 125px, '../img/sprite.png', 'edit-md', );
$edit-red-name: 'edit-red';
$edit-red-x: 56px;
$edit-red-y: 95px;
$edit-red-offset-x: -56px;
$edit-red-offset-y: -95px;
$edit-red-width: 13px;
$edit-red-height: 13px;
$edit-red-total-width: 136px;
$edit-red-total-height: 125px;
$edit-red-image: '../img/sprite.png';
$edit-red: (56px, 95px, -56px, -95px, 13px, 13px, 136px, 125px, '../img/sprite.png', 'edit-red', );
$edit-name: 'edit';
$edit-x: 38px;
$edit-y: 95px;
$edit-offset-x: -38px;
$edit-offset-y: -95px;
$edit-width: 13px;
$edit-height: 13px;
$edit-total-width: 136px;
$edit-total-height: 125px;
$edit-image: '../img/sprite.png';
$edit: (38px, 95px, -38px, -95px, 13px, 13px, 136px, 125px, '../img/sprite.png', 'edit', );
$envelope-name: 'envelope';
$envelope-x: 0px;
$envelope-y: 74px;
$envelope-offset-x: 0px;
$envelope-offset-y: -74px;
$envelope-width: 20px;
$envelope-height: 16px;
$envelope-total-width: 136px;
$envelope-total-height: 125px;
$envelope-image: '../img/sprite.png';
$envelope: (0px, 74px, 0px, -74px, 20px, 16px, 136px, 125px, '../img/sprite.png', 'envelope', );
$group-active-name: 'group-active';
$group-active-x: 25px;
$group-active-y: 74px;
$group-active-offset-x: -25px;
$group-active-offset-y: -74px;
$group-active-width: 22px;
$group-active-height: 14px;
$group-active-total-width: 136px;
$group-active-total-height: 125px;
$group-active-image: '../img/sprite.png';
$group-active: (25px, 74px, -25px, -74px, 22px, 14px, 136px, 125px, '../img/sprite.png', 'group-active', );
$hamburger-name: 'hamburger';
$hamburger-x: 52px;
$hamburger-y: 74px;
$hamburger-offset-x: -52px;
$hamburger-offset-y: -74px;
$hamburger-width: 18px;
$hamburger-height: 12px;
$hamburger-total-width: 136px;
$hamburger-total-height: 125px;
$hamburger-image: '../img/sprite.png';
$hamburger: (52px, 74px, -52px, -74px, 18px, 12px, 136px, 125px, '../img/sprite.png', 'hamburger', );
$money-2-name: 'money-2';
$money-2-x: 79px;
$money-2-y: 0px;
$money-2-offset-x: -79px;
$money-2-offset-y: 0px;
$money-2-width: 20px;
$money-2-height: 20px;
$money-2-total-width: 136px;
$money-2-total-height: 125px;
$money-2-image: '../img/sprite.png';
$money-2: (79px, 0px, -79px, 0px, 20px, 20px, 136px, 125px, '../img/sprite.png', 'money-2', );
$money-name: 'money';
$money-x: 104px;
$money-y: 22px;
$money-offset-x: -104px;
$money-offset-y: -22px;
$money-width: 16px;
$money-height: 18px;
$money-total-width: 136px;
$money-total-height: 125px;
$money-image: '../img/sprite.png';
$money: (104px, 22px, -104px, -22px, 16px, 18px, 136px, 125px, '../img/sprite.png', 'money', );
$phone-2-name: 'phone-2';
$phone-2-x: 29px;
$phone-2-y: 25px;
$phone-2-offset-x: -29px;
$phone-2-offset-y: -25px;
$phone-2-width: 18px;
$phone-2-height: 18px;
$phone-2-total-width: 136px;
$phone-2-total-height: 125px;
$phone-2-image: '../img/sprite.png';
$phone-2: (29px, 25px, -29px, -25px, 18px, 18px, 136px, 125px, '../img/sprite.png', 'phone-2', );
$phone-name: 'phone';
$phone-x: 0px;
$phone-y: 0px;
$phone-offset-x: 0px;
$phone-offset-y: 0px;
$phone-width: 24px;
$phone-height: 19px;
$phone-total-width: 136px;
$phone-total-height: 125px;
$phone-image: '../img/sprite.png';
$phone: (0px, 0px, 0px, 0px, 24px, 19px, 136px, 125px, '../img/sprite.png', 'phone', );
$plus-name: 'plus';
$plus-x: 19px;
$plus-y: 95px;
$plus-offset-x: -19px;
$plus-offset-y: -95px;
$plus-width: 14px;
$plus-height: 14px;
$plus-total-width: 136px;
$plus-total-height: 125px;
$plus-image: '../img/sprite.png';
$plus: (19px, 95px, -19px, -95px, 14px, 14px, 136px, 125px, '../img/sprite.png', 'plus', );
$search-name: 'search';
$search-x: 104px;
$search-y: 0px;
$search-offset-x: -104px;
$search-offset-y: 0px;
$search-width: 17px;
$search-height: 17px;
$search-total-width: 136px;
$search-total-height: 125px;
$search-image: '../img/sprite.png';
$search: (104px, 0px, -104px, 0px, 17px, 17px, 136px, 125px, '../img/sprite.png', 'search', );
$settings-name: 'settings';
$settings-x: 50px;
$settings-y: 49px;
$settings-offset-x: -50px;
$settings-offset-y: -49px;
$settings-width: 20px;
$settings-height: 20px;
$settings-total-width: 136px;
$settings-total-height: 125px;
$settings-image: '../img/sprite.png';
$settings: (50px, 49px, -50px, -49px, 20px, 20px, 136px, 125px, '../img/sprite.png', 'settings', );
$tooltip-name: 'tooltip';
$tooltip-x: 0px;
$tooltip-y: 24px;
$tooltip-offset-x: 0px;
$tooltip-offset-y: -24px;
$tooltip-width: 20px;
$tooltip-height: 20px;
$tooltip-total-width: 136px;
$tooltip-total-height: 125px;
$tooltip-image: '../img/sprite.png';
$tooltip: (0px, 24px, 0px, -24px, 20px, 20px, 136px, 125px, '../img/sprite.png', 'tooltip', );
$triangle-name: 'triangle';
$triangle-x: 126px;
$triangle-y: 18px;
$triangle-offset-x: -126px;
$triangle-offset-y: -18px;
$triangle-width: 10px;
$triangle-height: 5px;
$triangle-total-width: 136px;
$triangle-total-height: 125px;
$triangle-image: '../img/sprite.png';
$triangle: (126px, 18px, -126px, -18px, 10px, 5px, 136px, 125px, '../img/sprite.png', 'triangle', );
$user-active-name: 'user-active';
$user-active-x: 25px;
$user-active-y: 49px;
$user-active-offset-x: -25px;
$user-active-offset-y: -49px;
$user-active-width: 20px;
$user-active-height: 20px;
$user-active-total-width: 136px;
$user-active-total-height: 125px;
$user-active-image: '../img/sprite.png';
$user-active: (25px, 49px, -25px, -49px, 20px, 20px, 136px, 125px, '../img/sprite.png', 'user-active', );
$user-name: 'user';
$user-x: 0px;
$user-y: 49px;
$user-offset-x: 0px;
$user-offset-y: -49px;
$user-width: 20px;
$user-height: 20px;
$user-total-width: 136px;
$user-total-height: 125px;
$user-image: '../img/sprite.png';
$user: (0px, 49px, 0px, -49px, 20px, 20px, 136px, 125px, '../img/sprite.png', 'user', );
$volume-name: 'volume';
$volume-x: 79px;
$volume-y: 49px;
$volume-offset-x: -79px;
$volume-offset-y: -49px;
$volume-width: 18px;
$volume-height: 18px;
$volume-total-width: 136px;
$volume-total-height: 125px;
$volume-image: '../img/sprite.png';
$volume: (79px, 49px, -79px, -49px, 18px, 18px, 136px, 125px, '../img/sprite.png', 'volume', );
$wire-name: 'wire';
$wire-x: 104px;
$wire-y: 45px;
$wire-offset-x: -104px;
$wire-offset-y: -45px;
$wire-width: 14px;
$wire-height: 20px;
$wire-total-width: 136px;
$wire-total-height: 125px;
$wire-image: '../img/sprite.png';
$wire: (104px, 45px, -104px, -45px, 14px, 20px, 136px, 125px, '../img/sprite.png', 'wire', );
$arrow-active-2x-name: 'arrow-active_2x';
$arrow-active-2x-x: 0px;
$arrow-active-2x-y: 236px;
$arrow-active-2x-offset-x: 0px;
$arrow-active-2x-offset-y: -236px;
$arrow-active-2x-width: 24px;
$arrow-active-2x-height: 14px;
$arrow-active-2x-total-width: 272px;
$arrow-active-2x-total-height: 250px;
$arrow-active-2x-image: '../img/sprite@2x.png';
$arrow-active-2x: (0px, 236px, 0px, -236px, 24px, 14px, 272px, 250px, '../img/sprite@2x.png', 'arrow-active_2x', );
$arrow-2x-name: 'arrow_2x';
$arrow-2x-x: 150px;
$arrow-2x-y: 148px;
$arrow-2x-offset-x: -150px;
$arrow-2x-offset-y: -148px;
$arrow-2x-width: 24px;
$arrow-2x-height: 14px;
$arrow-2x-total-width: 272px;
$arrow-2x-total-height: 250px;
$arrow-2x-image: '../img/sprite@2x.png';
$arrow-2x: (150px, 148px, -150px, -148px, 24px, 14px, 272px, 250px, '../img/sprite@2x.png', 'arrow_2x', );
$arrows-2x-name: 'arrows_2x';
$arrows-2x-x: 208px;
$arrows-2x-y: 140px;
$arrows-2x-offset-x: -208px;
$arrows-2x-offset-y: -140px;
$arrows-2x-width: 28px;
$arrows-2x-height: 36px;
$arrows-2x-total-width: 272px;
$arrows-2x-total-height: 250px;
$arrows-2x-image: '../img/sprite@2x.png';
$arrows-2x: (208px, 140px, -208px, -140px, 28px, 36px, 272px, 250px, '../img/sprite@2x.png', 'arrows_2x', );
$bag-2x-name: 'bag_2x';
$bag-2x-x: 158px;
$bag-2x-y: 50px;
$bag-2x-offset-x: -158px;
$bag-2x-offset-y: -50px;
$bag-2x-width: 40px;
$bag-2x-height: 38px;
$bag-2x-total-width: 272px;
$bag-2x-total-height: 250px;
$bag-2x-image: '../img/sprite@2x.png';
$bag-2x: (158px, 50px, -158px, -50px, 40px, 38px, 272px, 250px, '../img/sprite@2x.png', 'bag_2x', );
$blocks-active-2x-name: 'blocks-active_2x';
$blocks-active-2x-x: 58px;
$blocks-active-2x-y: 0px;
$blocks-active-2x-offset-x: -58px;
$blocks-active-2x-offset-y: 0px;
$blocks-active-2x-width: 40px;
$blocks-active-2x-height: 40px;
$blocks-active-2x-total-width: 272px;
$blocks-active-2x-total-height: 250px;
$blocks-active-2x-image: '../img/sprite@2x.png';
$blocks-active-2x: (58px, 0px, -58px, 0px, 40px, 40px, 272px, 250px, '../img/sprite@2x.png', 'blocks-active_2x', );
$chart-2x-name: 'chart_2x';
$chart-2x-x: 108px;
$chart-2x-y: 0px;
$chart-2x-offset-x: -108px;
$chart-2x-offset-y: 0px;
$chart-2x-width: 40px;
$chart-2x-height: 40px;
$chart-2x-total-width: 272px;
$chart-2x-total-height: 250px;
$chart-2x-image: '../img/sprite@2x.png';
$chart-2x: (108px, 0px, -108px, 0px, 40px, 40px, 272px, 250px, '../img/sprite@2x.png', 'chart_2x', );
$delete-active-2x-name: 'delete-active_2x';
$delete-active-2x-x: 252px;
$delete-active-2x-y: 0px;
$delete-active-2x-offset-x: -252px;
$delete-active-2x-offset-y: 0px;
$delete-active-2x-width: 20px;
$delete-active-2x-height: 26px;
$delete-active-2x-total-width: 272px;
$delete-active-2x-total-height: 250px;
$delete-active-2x-image: '../img/sprite@2x.png';
$delete-active-2x: (252px, 0px, -252px, 0px, 20px, 26px, 272px, 250px, '../img/sprite@2x.png', 'delete-active_2x', );
$delete-md-2x-name: 'delete-md_2x';
$delete-md-2x-x: 0px;
$delete-md-2x-y: 190px;
$delete-md-2x-offset-x: 0px;
$delete-md-2x-offset-y: -190px;
$delete-md-2x-width: 28px;
$delete-md-2x-height: 36px;
$delete-md-2x-total-width: 272px;
$delete-md-2x-total-height: 250px;
$delete-md-2x-image: '../img/sprite@2x.png';
$delete-md-2x: (0px, 190px, 0px, -190px, 28px, 36px, 272px, 250px, '../img/sprite@2x.png', 'delete-md_2x', );
$delete-red-2x-name: 'delete-red_2x';
$delete-red-2x-x: 214px;
$delete-red-2x-y: 190px;
$delete-red-2x-offset-x: -214px;
$delete-red-2x-offset-y: -190px;
$delete-red-2x-width: 20px;
$delete-red-2x-height: 26px;
$delete-red-2x-total-width: 272px;
$delete-red-2x-total-height: 250px;
$delete-red-2x-image: '../img/sprite@2x.png';
$delete-red-2x: (214px, 190px, -214px, -190px, 20px, 26px, 272px, 250px, '../img/sprite@2x.png', 'delete-red_2x', );
$delete-2x-name: 'delete_2x';
$delete-2x-x: 184px;
$delete-2x-y: 190px;
$delete-2x-offset-x: -184px;
$delete-2x-offset-y: -190px;
$delete-2x-width: 20px;
$delete-2x-height: 26px;
$delete-2x-total-width: 272px;
$delete-2x-total-height: 250px;
$delete-2x-image: '../img/sprite@2x.png';
$delete-2x: (184px, 190px, -184px, -190px, 20px, 26px, 272px, 250px, '../img/sprite@2x.png', 'delete_2x', );
$dots-2x-name: 'dots_2x';
$dots-2x-x: 34px;
$dots-2x-y: 236px;
$dots-2x-offset-x: -34px;
$dots-2x-offset-y: -236px;
$dots-2x-width: 32px;
$dots-2x-height: 8px;
$dots-2x-total-width: 272px;
$dots-2x-total-height: 250px;
$dots-2x-image: '../img/sprite@2x.png';
$dots-2x: (34px, 236px, -34px, -236px, 32px, 8px, 272px, 250px, '../img/sprite@2x.png', 'dots_2x', );
$edit-active-2x-name: 'edit-active_2x';
$edit-active-2x-x: 148px;
$edit-active-2x-y: 190px;
$edit-active-2x-offset-x: -148px;
$edit-active-2x-offset-y: -190px;
$edit-active-2x-width: 26px;
$edit-active-2x-height: 26px;
$edit-active-2x-total-width: 272px;
$edit-active-2x-total-height: 250px;
$edit-active-2x-image: '../img/sprite@2x.png';
$edit-active-2x: (148px, 190px, -148px, -190px, 26px, 26px, 272px, 250px, '../img/sprite@2x.png', 'edit-active_2x', );
$edit-md-2x-name: 'edit-md_2x';
$edit-md-2x-x: 108px;
$edit-md-2x-y: 50px;
$edit-md-2x-offset-x: -108px;
$edit-md-2x-offset-y: -50px;
$edit-md-2x-width: 36px;
$edit-md-2x-height: 36px;
$edit-md-2x-total-width: 272px;
$edit-md-2x-total-height: 250px;
$edit-md-2x-image: '../img/sprite@2x.png';
$edit-md-2x: (108px, 50px, -108px, -50px, 36px, 36px, 272px, 250px, '../img/sprite@2x.png', 'edit-md_2x', );
$edit-red-2x-name: 'edit-red_2x';
$edit-red-2x-x: 112px;
$edit-red-2x-y: 190px;
$edit-red-2x-offset-x: -112px;
$edit-red-2x-offset-y: -190px;
$edit-red-2x-width: 26px;
$edit-red-2x-height: 26px;
$edit-red-2x-total-width: 272px;
$edit-red-2x-total-height: 250px;
$edit-red-2x-image: '../img/sprite@2x.png';
$edit-red-2x: (112px, 190px, -112px, -190px, 26px, 26px, 272px, 250px, '../img/sprite@2x.png', 'edit-red_2x', );
$edit-2x-name: 'edit_2x';
$edit-2x-x: 76px;
$edit-2x-y: 190px;
$edit-2x-offset-x: -76px;
$edit-2x-offset-y: -190px;
$edit-2x-width: 26px;
$edit-2x-height: 26px;
$edit-2x-total-width: 272px;
$edit-2x-total-height: 250px;
$edit-2x-image: '../img/sprite@2x.png';
$edit-2x: (76px, 190px, -76px, -190px, 26px, 26px, 272px, 250px, '../img/sprite@2x.png', 'edit_2x', );
$envelope-2x-name: 'envelope_2x';
$envelope-2x-x: 0px;
$envelope-2x-y: 148px;
$envelope-2x-offset-x: 0px;
$envelope-2x-offset-y: -148px;
$envelope-2x-width: 40px;
$envelope-2x-height: 32px;
$envelope-2x-total-width: 272px;
$envelope-2x-total-height: 250px;
$envelope-2x-image: '../img/sprite@2x.png';
$envelope-2x: (0px, 148px, 0px, -148px, 40px, 32px, 272px, 250px, '../img/sprite@2x.png', 'envelope_2x', );
$group-active-2x-name: 'group-active_2x';
$group-active-2x-x: 50px;
$group-active-2x-y: 148px;
$group-active-2x-offset-x: -50px;
$group-active-2x-offset-y: -148px;
$group-active-2x-width: 44px;
$group-active-2x-height: 28px;
$group-active-2x-total-width: 272px;
$group-active-2x-total-height: 250px;
$group-active-2x-image: '../img/sprite@2x.png';
$group-active-2x: (50px, 148px, -50px, -148px, 44px, 28px, 272px, 250px, '../img/sprite@2x.png', 'group-active_2x', );
$hamburger-2x-name: 'hamburger_2x';
$hamburger-2x-x: 104px;
$hamburger-2x-y: 148px;
$hamburger-2x-offset-x: -104px;
$hamburger-2x-offset-y: -148px;
$hamburger-2x-width: 36px;
$hamburger-2x-height: 24px;
$hamburger-2x-total-width: 272px;
$hamburger-2x-total-height: 250px;
$hamburger-2x-image: '../img/sprite@2x.png';
$hamburger-2x: (104px, 148px, -104px, -148px, 36px, 24px, 272px, 250px, '../img/sprite@2x.png', 'hamburger_2x', );
$money-2-2x-name: 'money-2_2x';
$money-2-2x-x: 158px;
$money-2-2x-y: 0px;
$money-2-2x-offset-x: -158px;
$money-2-2x-offset-y: 0px;
$money-2-2x-width: 40px;
$money-2-2x-height: 40px;
$money-2-2x-total-width: 272px;
$money-2-2x-total-height: 250px;
$money-2-2x-image: '../img/sprite@2x.png';
$money-2-2x: (158px, 0px, -158px, 0px, 40px, 40px, 272px, 250px, '../img/sprite@2x.png', 'money-2_2x', );
$money-2x-name: 'money_2x';
$money-2x-x: 208px;
$money-2x-y: 44px;
$money-2x-offset-x: -208px;
$money-2x-offset-y: -44px;
$money-2x-width: 32px;
$money-2x-height: 36px;
$money-2x-total-width: 272px;
$money-2x-total-height: 250px;
$money-2x-image: '../img/sprite@2x.png';
$money-2x: (208px, 44px, -208px, -44px, 32px, 36px, 272px, 250px, '../img/sprite@2x.png', 'money_2x', );
$phone-2-2x-name: 'phone-2_2x';
$phone-2-2x-x: 58px;
$phone-2-2x-y: 50px;
$phone-2-2x-offset-x: -58px;
$phone-2-2x-offset-y: -50px;
$phone-2-2x-width: 36px;
$phone-2-2x-height: 36px;
$phone-2-2x-total-width: 272px;
$phone-2-2x-total-height: 250px;
$phone-2-2x-image: '../img/sprite@2x.png';
$phone-2-2x: (58px, 50px, -58px, -50px, 36px, 36px, 272px, 250px, '../img/sprite@2x.png', 'phone-2_2x', );
$phone-2x-name: 'phone_2x';
$phone-2x-x: 0px;
$phone-2x-y: 0px;
$phone-2x-offset-x: 0px;
$phone-2x-offset-y: 0px;
$phone-2x-width: 48px;
$phone-2x-height: 38px;
$phone-2x-total-width: 272px;
$phone-2x-total-height: 250px;
$phone-2x-image: '../img/sprite@2x.png';
$phone-2x: (0px, 0px, 0px, 0px, 48px, 38px, 272px, 250px, '../img/sprite@2x.png', 'phone_2x', );
$plus-2x-name: 'plus_2x';
$plus-2x-x: 38px;
$plus-2x-y: 190px;
$plus-2x-offset-x: -38px;
$plus-2x-offset-y: -190px;
$plus-2x-width: 28px;
$plus-2x-height: 28px;
$plus-2x-total-width: 272px;
$plus-2x-total-height: 250px;
$plus-2x-image: '../img/sprite@2x.png';
$plus-2x: (38px, 190px, -38px, -190px, 28px, 28px, 272px, 250px, '../img/sprite@2x.png', 'plus_2x', );
$search-2x-name: 'search_2x';
$search-2x-x: 208px;
$search-2x-y: 0px;
$search-2x-offset-x: -208px;
$search-2x-offset-y: 0px;
$search-2x-width: 34px;
$search-2x-height: 34px;
$search-2x-total-width: 272px;
$search-2x-total-height: 250px;
$search-2x-image: '../img/sprite@2x.png';
$search-2x: (208px, 0px, -208px, 0px, 34px, 34px, 272px, 250px, '../img/sprite@2x.png', 'search_2x', );
$settings-2x-name: 'settings_2x';
$settings-2x-x: 100px;
$settings-2x-y: 98px;
$settings-2x-offset-x: -100px;
$settings-2x-offset-y: -98px;
$settings-2x-width: 40px;
$settings-2x-height: 40px;
$settings-2x-total-width: 272px;
$settings-2x-total-height: 250px;
$settings-2x-image: '../img/sprite@2x.png';
$settings-2x: (100px, 98px, -100px, -98px, 40px, 40px, 272px, 250px, '../img/sprite@2x.png', 'settings_2x', );
$tooltip-2x-name: 'tooltip_2x';
$tooltip-2x-x: 0px;
$tooltip-2x-y: 48px;
$tooltip-2x-offset-x: 0px;
$tooltip-2x-offset-y: -48px;
$tooltip-2x-width: 40px;
$tooltip-2x-height: 40px;
$tooltip-2x-total-width: 272px;
$tooltip-2x-total-height: 250px;
$tooltip-2x-image: '../img/sprite@2x.png';
$tooltip-2x: (0px, 48px, 0px, -48px, 40px, 40px, 272px, 250px, '../img/sprite@2x.png', 'tooltip_2x', );
$triangle-2x-name: 'triangle_2x';
$triangle-2x-x: 252px;
$triangle-2x-y: 36px;
$triangle-2x-offset-x: -252px;
$triangle-2x-offset-y: -36px;
$triangle-2x-width: 20px;
$triangle-2x-height: 10px;
$triangle-2x-total-width: 272px;
$triangle-2x-total-height: 250px;
$triangle-2x-image: '../img/sprite@2x.png';
$triangle-2x: (252px, 36px, -252px, -36px, 20px, 10px, 272px, 250px, '../img/sprite@2x.png', 'triangle_2x', );
$user-active-2x-name: 'user-active_2x';
$user-active-2x-x: 50px;
$user-active-2x-y: 98px;
$user-active-2x-offset-x: -50px;
$user-active-2x-offset-y: -98px;
$user-active-2x-width: 40px;
$user-active-2x-height: 40px;
$user-active-2x-total-width: 272px;
$user-active-2x-total-height: 250px;
$user-active-2x-image: '../img/sprite@2x.png';
$user-active-2x: (50px, 98px, -50px, -98px, 40px, 40px, 272px, 250px, '../img/sprite@2x.png', 'user-active_2x', );
$user-2x-name: 'user_2x';
$user-2x-x: 0px;
$user-2x-y: 98px;
$user-2x-offset-x: 0px;
$user-2x-offset-y: -98px;
$user-2x-width: 40px;
$user-2x-height: 40px;
$user-2x-total-width: 272px;
$user-2x-total-height: 250px;
$user-2x-image: '../img/sprite@2x.png';
$user-2x: (0px, 98px, 0px, -98px, 40px, 40px, 272px, 250px, '../img/sprite@2x.png', 'user_2x', );
$volume-2x-name: 'volume_2x';
$volume-2x-x: 158px;
$volume-2x-y: 98px;
$volume-2x-offset-x: -158px;
$volume-2x-offset-y: -98px;
$volume-2x-width: 36px;
$volume-2x-height: 36px;
$volume-2x-total-width: 272px;
$volume-2x-total-height: 250px;
$volume-2x-image: '../img/sprite@2x.png';
$volume-2x: (158px, 98px, -158px, -98px, 36px, 36px, 272px, 250px, '../img/sprite@2x.png', 'volume_2x', );
$wire-2x-name: 'wire_2x';
$wire-2x-x: 208px;
$wire-2x-y: 90px;
$wire-2x-offset-x: -208px;
$wire-2x-offset-y: -90px;
$wire-2x-width: 28px;
$wire-2x-height: 40px;
$wire-2x-total-width: 272px;
$wire-2x-total-height: 250px;
$wire-2x-image: '../img/sprite@2x.png';
$wire-2x: (208px, 90px, -208px, -90px, 28px, 40px, 272px, 250px, '../img/sprite@2x.png', 'wire_2x', );
$spritesheet-width: 136px;
$spritesheet-height: 125px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($arrow-active, $arrow, $arrows, $bag, $blocks-active, $chart, $delete-active, $delete-md, $delete-red, $delete, $dots, $edit-active, $edit-md, $edit-red, $edit, $envelope, $group-active, $hamburger, $money-2, $money, $phone-2, $phone, $plus, $search, $settings, $tooltip, $triangle, $user-active, $user, $volume, $wire, );
$spritesheet: (136px, 125px, '../img/sprite.png', $spritesheet-sprites, );
$retina-spritesheet-width: 272px;
$retina-spritesheet-height: 250px;
$retina-spritesheet-image: '../img/sprite@2x.png';
$retina-spritesheet-sprites: ($arrow-active-2x, $arrow-2x, $arrows-2x, $bag-2x, $blocks-active-2x, $chart-2x, $delete-active-2x, $delete-md-2x, $delete-red-2x, $delete-2x, $dots-2x, $edit-active-2x, $edit-md-2x, $edit-red-2x, $edit-2x, $envelope-2x, $group-active-2x, $hamburger-2x, $money-2-2x, $money-2x, $phone-2-2x, $phone-2x, $plus-2x, $search-2x, $settings-2x, $tooltip-2x, $triangle-2x, $user-active-2x, $user-2x, $volume-2x, $wire-2x, );
$retina-spritesheet: (272px, 250px, '../img/sprite@2x.png', $retina-spritesheet-sprites, );

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
$arrow-active-group-name: 'arrow-active';
$arrow-active-group: ('arrow-active', $arrow-active, $arrow-active-2x, );
$arrow-group-name: 'arrow';
$arrow-group: ('arrow', $arrow, $arrow-2x, );
$arrows-group-name: 'arrows';
$arrows-group: ('arrows', $arrows, $arrows-2x, );
$bag-group-name: 'bag';
$bag-group: ('bag', $bag, $bag-2x, );
$blocks-active-group-name: 'blocks-active';
$blocks-active-group: ('blocks-active', $blocks-active, $blocks-active-2x, );
$chart-group-name: 'chart';
$chart-group: ('chart', $chart, $chart-2x, );
$delete-active-group-name: 'delete-active';
$delete-active-group: ('delete-active', $delete-active, $delete-active-2x, );
$delete-md-group-name: 'delete-md';
$delete-md-group: ('delete-md', $delete-md, $delete-md-2x, );
$delete-red-group-name: 'delete-red';
$delete-red-group: ('delete-red', $delete-red, $delete-red-2x, );
$delete-group-name: 'delete';
$delete-group: ('delete', $delete, $delete-2x, );
$dots-group-name: 'dots';
$dots-group: ('dots', $dots, $dots-2x, );
$edit-active-group-name: 'edit-active';
$edit-active-group: ('edit-active', $edit-active, $edit-active-2x, );
$edit-md-group-name: 'edit-md';
$edit-md-group: ('edit-md', $edit-md, $edit-md-2x, );
$edit-red-group-name: 'edit-red';
$edit-red-group: ('edit-red', $edit-red, $edit-red-2x, );
$edit-group-name: 'edit';
$edit-group: ('edit', $edit, $edit-2x, );
$envelope-group-name: 'envelope';
$envelope-group: ('envelope', $envelope, $envelope-2x, );
$group-active-group-name: 'group-active';
$group-active-group: ('group-active', $group-active, $group-active-2x, );
$hamburger-group-name: 'hamburger';
$hamburger-group: ('hamburger', $hamburger, $hamburger-2x, );
$money-2-group-name: 'money-2';
$money-2-group: ('money-2', $money-2, $money-2-2x, );
$money-group-name: 'money';
$money-group: ('money', $money, $money-2x, );
$phone-2-group-name: 'phone-2';
$phone-2-group: ('phone-2', $phone-2, $phone-2-2x, );
$phone-group-name: 'phone';
$phone-group: ('phone', $phone, $phone-2x, );
$plus-group-name: 'plus';
$plus-group: ('plus', $plus, $plus-2x, );
$search-group-name: 'search';
$search-group: ('search', $search, $search-2x, );
$settings-group-name: 'settings';
$settings-group: ('settings', $settings, $settings-2x, );
$tooltip-group-name: 'tooltip';
$tooltip-group: ('tooltip', $tooltip, $tooltip-2x, );
$triangle-group-name: 'triangle';
$triangle-group: ('triangle', $triangle, $triangle-2x, );
$user-active-group-name: 'user-active';
$user-active-group: ('user-active', $user-active, $user-active-2x, );
$user-group-name: 'user';
$user-group: ('user', $user, $user-2x, );
$volume-group-name: 'volume';
$volume-group: ('volume', $volume, $volume-2x, );
$wire-group-name: 'wire';
$wire-group: ('wire', $wire, $wire-2x, );
$retina-groups: ($arrow-active-group, $arrow-group, $arrows-group, $bag-group, $blocks-active-group, $chart-group, $delete-active-group, $delete-md-group, $delete-red-group, $delete-group, $dots-group, $edit-active-group, $edit-md-group, $edit-red-group, $edit-group, $envelope-group, $group-active-group, $hamburger-group, $money-2-group, $money-group, $phone-2-group, $phone-group, $plus-group, $search-group, $settings-group, $tooltip-group, $triangle-group, $user-active-group, $user-group, $volume-group, $wire-group, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );

.icon-home {
  @include retina-sprite($icon-home-group);
}
*/
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

/*
The `retina-sprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in SCSS

@include retina-sprites($retina-groups);
*/
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
