//----------------------------------------------------//
// TYPOGRAPHY                                         //
//----------------------------------------------------//
body {
	background-color: #f8f8fa;
	font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  line-height: $mainLineHeight;
  color: $mainFontColor;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
}

h1 {
}

h2 {
}

h3 {
}

h4 {
}

h5 {
}

h6 {
}

p {
}

strong,
b {
	font-weight: 700;
}

a {
	outline: none !important;
	color: inherit;
	text-decoration: none;
}

ol {
	counter-reset: headings;
	li {	
		&:before {
			counter-increment: headings;
		  content: counter(headings, decimal);
		}
	}
}

.red {
	color: $red;
}

// table
//----------------------------------------------------//
.table {
	padding: 0 4px 10px;
}

table {
	width: 100%;
}

thead {
	font-size: 15px;
}

td,
th {
	vertical-align: middle;
	padding: 5px 12px;
	border-bottom: 1px solid #f3f3f3;
}

td {
	height: 40px;
}

th {
	height: 50px;
	text-align: left;
}