//----------------------------------------------------//
// VARIABLES                                          //
//----------------------------------------------------//
$mainFont: 'Futura PT', sans-serif; 
$mainFontSize: 13px;
$mainLineHeight: (17 / 13);
$mainFontWeight: 300;
$mainFontColor: #515151;

$red: #d4002f;
$gray: #9f9f9f;
$blue: #5b6a97;
