@import 'sprite.scss',
				'variables.scss',
				'mixins&includes.scss',
				'normalize&reset.scss',
				'plugins.scss',
				'fonts.scss',
				'typography.scss',
				'forms.scss',
				'layout.scss';
  
//----------------------------------------------------//
// MAIN 						 																	//
//----------------------------------------------------//

// icons
//----------------------------------------------------//
[class^="icon-"],
[class*="icon-"] {
 	display: inline-block;
 	vertical-align: middle;
}
.icon-dots {
	@include retina-sprite($dots-group);
}

.icon-triangle {
	@include retina-sprite($triangle-group);
}

.icon-search {
	@include retina-sprite($search-group);
}

.icon-plus {
	@include retina-sprite($plus-group);
}

.icon-hamburger {
	@include retina-sprite($hamburger-group);
}

.icon-blocks {
	// @include retina-sprite($blocks-group);
}

.icon-user {
	@include retina-sprite($user-group);
}

.icon-bag {
	@include retina-sprite($bag-group);
}

.icon-group {
	// @include retina-sprite($group-group);
}

.icon-settings {
	@include retina-sprite($settings-group);
}

.icon-tooltip {
	@include retina-sprite($tooltip-group);
}

.icon-chart {
	@include retina-sprite($chart-group);
}

.icon-phone {
	@include retina-sprite($phone-group);
}

.icon-phone-2 {
	@include retina-sprite($phone-2-group);
}

.icon-wire {
	@include retina-sprite($wire-group);
}

.icon-money {
	@include retina-sprite($money-group);
}

.icon-money-2 {
	@include retina-sprite($money-2-group);
}

.icon-volume {
	@include retina-sprite($volume-group);
}

.icon-envelope {
	@include retina-sprite($envelope-group);
}

.icon-edit {
	@include retina-sprite($edit-group);

	&:hover {
		@include retina-sprite($edit-active-group);
	}
}

.icon-delete {
	@include retina-sprite($delete-group);

	&:hover {
		@include retina-sprite($delete-active-group);
	}
}

.icon-arrow {
	@include retina-sprite($arrow-group);

	&:hover {
		@include retina-sprite($arrow-active-group);
	}
}

// active-icons
//----------------------------------------------------//
.active {
	> a {
		.icon-blocks {
			@include retina-sprite($blocks-active-group);
		}

		.icon-user {
			@include retina-sprite($user-active-group);
		}

		.icon-group {
			@include retina-sprite($group-active-group);
		}
	}
}


// helpers
//----------------------------------------------------//
.hide-scrollbar {
	overflow: hidden;

	> * {
		box-sizing: content-box;
		width: 100%;
		padding-right: 17px;
	}
}

.has-marker {
	position: relative;

	&:before {
		content: '';
		position: absolute;
		width: 5px;
		height: 5px;
		opacity: 0.6;
		background-color: #b0b7cd;
		border: 1px solid #5b6a97; 
		border-radius: 50%;
		top: 6px;
		left: -18px;
	}
}

// links
//----------------------------------------------------//
.link-add {
	font-size: 15px;
	padding-left: 25px;
	position: relative;
	line-height: 35px;
	display: inline-block;

	&:hover {
		text-decoration: underline;
	}

	&:before {
		@include retina-sprite($plus-group);
		content: '';
		position: absolute;
		left: 0;
		top: 11px;
	}
}

.link-edit {
	font-size: 15px;
	padding-left: 25px;
	position: relative;
	line-height: 35px;
	display: inline-block;

	&:hover {
		text-decoration: underline;
	}

	&:before {
		@include retina-sprite($edit-md-group);
		content: '';
		position: absolute;
		left: 0;
		top: 9px;
	}
}

.link-delete {
	font-size: 15px;
	padding-left: 25px;
	position: relative;
	line-height: 35px;
	display: inline-block;

	&:hover {
		text-decoration: underline;
	}

	&:before {
		@include retina-sprite($delete-md-group);
		content: '';
		position: absolute;
		left: 0;
		top: 8px;
	}
}

.link-arrows {
	font-size: 15px;
	padding-left: 20px;
	position: relative;
	line-height: 35px;
	display: inline-block;

	&:hover {
		text-decoration: underline;
	}

	&:before {
		@include retina-sprite($arrows-group);
		content: '';
		position: absolute;
		left: 0;
		top: 8px;
	}
}

.link-gray {
	font-size: 14px;
	color: $gray;
	line-height: 35px;
	display: inline-block;

	&:hover {
		text-decoration: underline;
	}
}

.link-dots {
	padding: 5px 0;

	&:hover {
		opacity: 0.7;
	}
}

// row-drop
//----------------------------------------------------//
.row-drop {
	display: none;

	&.visible {
		display: table-row;
	}


	> td {
		padding: 0 0 4px;
	}

	table {
		background-color: #f0f2f7;

		th,
		td {
			border-bottom-color: rgba(193, 191, 217, 0.4);

			&:first-child {
				padding-left: 34px;
			}
		}
	}

	thead {
		background-color: #e5e8f1;
		color: $blue;
		font-size: 13px;
	}

	th {
		height: 40px;
	}

	tr {
		&:last-child {
			td {
				border-bottom: none;
			}
		}
	}

	

	.icon-edit {
		@include retina-sprite($edit-active-group);
	}

	.icon-delete {
		@include retina-sprite($delete-active-group);
	}

	.icon-arrow {
		@include retina-sprite($arrow-active-group);
		transform: rotate(180deg);
	}
}

// drop-open
//----------------------------------------------------//
.drop-open {
	background-color: #f0f2f7;

	> td {
		border-bottom-color: rgba(193, 191, 217, 0.4);

		&:first-child {
			border-top-left-radius: 2px;
		}

		&:last-child {
			border-top-right-radius: 2px;
		}
	}

	.icon-edit {
		@include retina-sprite($edit-active-group);
	}

	.icon-delete {
		@include retina-sprite($delete-active-group);
	}

	.icon-arrow {
		@include retina-sprite($arrow-active-group);
		transform: rotate(180deg);
	}
}

// cell-actions 
//----------------------------------------------------//
.cell-actions {
	width: 94px;
}

// shadow
//----------------------------------------------------//
.row-shadow {

	td {
		border-bottom: none;
		height: 3px;
		padding: 0;
		vertical-align: top;
	}
}

.shadow {
	width: 100%;
	height: 3px;
	overflow: hidden;

	.inner {
		display: block;
		width: 100%;
		height: 6px;
		margin-top: -6px;
		box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
	}
}

// popups
//----------------------------------------------------//
.popup {
	display: none;
	padding: 21px; /* for shadow */
}

// login
//----------------------------------------------------//
.login {
	background-color: #fff;
	padding: 61px 62px 56px;
	width: 408px;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06), 0 -1px 21px rgba(0, 0, 0, 0.1);

	&__logo {
		width: 88px;
		margin: 0 auto 15px;
	}

	&__title {
		font-size: 32px;
		display: block;
		text-align: center;
		margin-bottom: 20px;
	}
}

// modal
//----------------------------------------------------//
.modal {
	width: 429px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06), 0 -1px 6px rgba(0, 0, 0, 0.06);
	background-color: #fff;
	border-radius: 4px;
	padding: 38px 38px 44px;
	text-align: center;

	&__question {
		font-size: 24px;
		line-height: (31 / 24);
		max-width: 80%;
		margin: 0 auto 20px;
		display: block;
	}

	&__buttons {
		padding-top: 26px;
		margin: 0 -11px;

		.btn {
			margin: 0 11px;
		}
	}
}

// bar
//----------------------------------------------------//
.bar {
	@extend .clearfix;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	padding: 4px;
	position: relative;

	&__form {
		position: relative;
		overflow: hidden;

		input[type=text],
		input[type=search] {
			border-bottom: none;
			font-size: 16px;
			padding: 7px 40px;
		}

		button {
			position: absolute;
			top: 8px;
			left: 10px;
		}
	}

	&__links {
		float: right;
		padding: 0 8px;

		.link-gray {
			margin-left: 20px;
		}

		.link-dots {
			margin-right: 5px;
			margin-left: 23px;
		}
	}
}

// actions
//----------------------------------------------------//
.actions {
	.icon-edit {
		margin-right: 12px;
	}

	.icon-delete {
		margin-right: 14px;
	}
}

// choose
//----------------------------------------------------//
.choose {
	display: inline-block;
	margin-left: 40px;

	&__toggle {
		font-size: 14px;
		position: relative;
		padding-right: 26px;
		display: inline-block;
		line-height: 35px;

		&:after {
			@include retina-sprite($triangle-group);
			content: '';
			position: absolute;
			right: 3px;
			top: 17px;
		}

		&.active {
			&:before {
				content: '';
				position: absolute;
				width: 100%;
				height: 3px;
				top: -4px;
				background-color: $red;
			}
		}

		&:hover {
			text-decoration: underline;
		}
	}

	&__drop {
		visibility: hidden;
		width: 225px;
		background-color: #fff;
		position: absolute;
		z-index: 100;
		top: 44px;
		right: 0;
		border-radius: 0 4px 4px 0;
		box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
		opacity: 0;
		transition: all 0.2s;

		&.visible {
			visibility: visible;
			opacity: 1;
		}
	}

	&__controls {
		border-bottom: 1px solid #e4e4e4;
		padding: 7px 18px;

		.link-add {
			padding-left: 44px;
		}
	}

	&__list {
		padding: 4px;

		li {
			position: relative;
			margin-bottom: 10px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		.actions {
			position: absolute;
			right: -3px;
			top: 6px;
		}

		.icon-edit {
			margin-right: 5px;
		}

		label {
			padding-right: 55px;
		}

		input[type=radio]:checked,
		input[type=checkbox]:checked {
			& + label + .actions {
				.icon-edit,
				.icon-delete {
					&:hover {
						opacity: 0.7;
					}
				}

				.icon-edit {
					@include retina-sprite($edit-red-group);
				}

				.icon-delete {
					@include retina-sprite($delete-red-group);
				}
			}
		}
	}
}

// row-controls
//----------------------------------------------------//
.row-controls {
	td {
		height: 60px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

// controls
//----------------------------------------------------//
.controls {
	a {
		margin-right: 26px;

		&:last-child {
			margin-right: 0;
		}
	}
}

// workers-table
//----------------------------------------------------//
.workers-table {
	color: $gray;
	border-collapse: separate;

	tbody {
		tr:not(.row-controls) {
			cursor: pointer;
		}
	}
}

.cell-user {
	color: $mainFontColor;
}

.cell-radio {
	padding: 5px 2px;
	width: 20px;
}

// row-checked
//----------------------------------------------------//
.row-checked {
	background-color: #f0f2f7;
	border-bottom: 1px solid red;

	> td {
		border-top: 4px solid #fff;
		border-bottom: 4px solid #fff;
	}
}

// .row-shadow + .row-checked {
// 	> td {
// 		height: 36px;
// 		border-top: none;
// 	}
// }

.cell-phone {
	white-space: nowrap;
}