@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,600,400italic,600italic,700,700italic&subset=latin,cyrillic);
.clearfix:after, .container:after, .header__top:after, .main:after, .filter:after, .worker__top:after {
  content: "";
  display: table;
  clear: both; }

.reset-bootstrap-list, .navig, .drop, .view, .workers__list, .controls__list, .tooltip__list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0; }

.reset-bootstrap-link, .form-link, .navig__link, .drop__link, .nav-tabs li > a,
.nav-tabs li.active > a, .account, .view a, .worker, .worker__name, .controls__link, .user {
  outline: none;
  color: inherit;
  text-decoration: none; }
  .reset-bootstrap-link:hover, .form-link:hover, .navig__link:hover, .drop__link:hover, .nav-tabs li > a:hover, .account:hover, .view a:hover, .worker:hover, .worker__name:hover, .controls__link:hover, .user:hover, .reset-bootstrap-link:visited, .form-link:visited, .navig__link:visited, .drop__link:visited, .nav-tabs li > a:visited, .account:visited, .view a:visited, .worker:visited, .worker__name:visited, .controls__link:visited, .user:visited, .reset-bootstrap-link:active, .form-link:active, .navig__link:active, .drop__link:active, .nav-tabs li > a:active, .account:active, .view a:active, .worker:active, .worker__name:active, .controls__link:active, .user:active, .reset-bootstrap-link:focus, .form-link:focus, .navig__link:focus, .drop__link:focus, .nav-tabs li > a:focus, .account:focus, .view a:focus, .worker:focus, .worker__name:focus, .controls__link:focus, .user:focus {
    color: inherit;
    text-decoration: none; }

[class^="icon-"],
[class*="icon-"] {
  fill: #9ca8b4;
  display: inline-block; }

.icon-items {
  width: 20px;
  height: 20px;
  fill: #374050; }

.icon-table {
  width: 20px;
  height: 20px;
  fill: #374050; }

.icon-blocks {
  width: 20px;
  height: 20px; }

.icon-user {
  width: 20px;
  height: 20px; }

.icon-bag {
  width: 20px;
  height: 19px; }

.icon-group {
  width: 22px;
  height: 14px; }

.icon-dialog {
  width: 20px;
  height: 20px; }

.icon-chart {
  width: 20px;
  height: 20px; }

.icon-shop {
  width: 20px;
  height: 20px; }

.icon-settings {
  width: 20px;
  height: 20px; }

.icon-ring {
  width: 20px;
  height: 16px; }

.icon-wire {
  width: 14px;
  height: 20px; }

.icon-dots {
  width: 21px;
  height: 6px; }
  .icon-dots:hover {
    opacity: 0.7; }

.icon-search {
  width: 24px;
  height: 24px; }

.icon-edit {
  width: 20px;
  height: 20px; }

.icon-off {
  width: 18px;
  height: 20px; }

.icon-delete {
  width: 17px;
  height: 20px; }

body {
  background-color: #f2f6fa;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.35714;
  color: #374050;
  -webkit-font-smoothing: antialiased; }

strong,
b {
  font-weight: 700; }

ol {
  counter-reset: headings; }
  ol li:before {
    counter-increment: headings;
    content: counter(headings, decimal); }

button {
  background-color: transparent;
  border: none; }

.btn {
  padding: 9px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.btn-primary {
  background-color: #20b1ed;
  border-color: #20b1ed; }

.form-group {
  margin-bottom: 16px;
  position: relative; }

.form-control {
  height: 40px;
  border: 1px solid #cad3df;
  color: #374050;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .form-control.error {
    border-color: #ff2600; }
  .form-control:focus {
    border-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none; }

.form-link {
  float: right;
  color: #20b1ed;
  font-size: 12px;
  line-height: 20px; }
  .form-link:hover {
    color: #20b1ed;
    text-decoration: underline; }

label.error {
  background-color: #ff2600;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 100%;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  min-width: 182px;
  padding: 10px;
  top: 25px;
  margin-left: 5px;
  text-align: center; }
  label.error:before {
    content: '';
    position: absolute;
    right: 100%;
    top: 50%;
    margin-top: -5px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 6px solid #ff2600;
    border-bottom: 5px solid transparent; }

.has-error .form-control {
  border-color: #ff2600; }
  .has-error .form-control:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
    border-color: #ff2600; }

label {
  font-weight: 400;
  font-size: 16px;
  color: #9ca8b4; }

.label-sm {
  font-size: 12px;
  font-weight: 700; }

.form-inline .wrap-select {
  display: inline-block; }

input[type=checkbox],
input[type=radio] {
  position: absolute;
  left: -9999px; }
  input[type=checkbox] + label,
  input[type=radio] + label {
    cursor: pointer;
    position: relative; }
    input[type=checkbox] + label:before, input[type=checkbox] + label:after,
    input[type=radio] + label:before,
    input[type=radio] + label:after {
      content: '';
      position: absolute; }

input[type=checkbox] + label {
  padding-left: 33px;
  line-height: 25px;
  font-weight: 700; }
  input[type=checkbox] + label:before {
    width: 24px;
    height: 25px;
    border: 1px solid #cad3df;
    background-color: #fff;
    border-radius: 3px;
    left: 0; }
  input[type=checkbox] + label:after {
    display: none;
    width: 15px;
    height: 11px;
    background-image: url("../img/checked.png");
    left: 4px;
    top: 7px; }

input[type=checkbox]:checked + label:after {
  display: block; }

::-webkit-input-placeholder {
  opacity: 1; }

:-moz-placeholder {
  opacity: 1; }

::-moz-placeholder {
  opacity: 1; }

:-ms-input-placeholder {
  opacity: 1; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none; }

select {
  width: 100%; }

.select {
  font-size: 14px;
  color: #374050; }
  .select.form-control {
    padding: 0 !important;
    border: none;
    -webkit-transition: none;
    transition: none; }
  .select .ui-multiselect-inner {
    position: relative;
    border: 1px solid #cad3df;
    border-radius: 5px;
    background-color: #fff; }
  .select .ui-multiselect-menu-inner {
    background-color: #fff;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    overflow: hidden; }
  .select .ui-multiselect-inner,
  .select .ui-multiselect-menu-inner label {
    height: 39px;
    line-height: 39px;
    padding: 0 15px;
    font-size: 14px;
    color: #374050;
    margin: 0 !important; }
  .select .ui-state-hover {
    background-color: #cad3df; }
  .select .ui-multiselect-arrow {
    position: absolute;
    right: 14px;
    top: 50%;
    margin-top: -3px;
    width: 14px;
    height: 8px;
    background-image: url("../img/select-arrow.png"); }

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  padding: 0 12px; }

.row {
  margin: 0 -12px; }

body *,
body *:after,
body *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.container {
  position: relative;
  margin: 0 auto; }

.wrapper {
  overflow: hidden; }

.sidebar {
  width: 240px;
  float: left;
  background-color: #374050;
  min-height: 100vh;
  padding-bottom: 1000px;
  margin-bottom: -1000px;
  margin-left: -100%; }

.logo {
  background-color: #f2f6fa;
  text-align: center;
  padding: 12px 12px 11px;
  min-height: 80px; }
  .logo__link {
    display: inline-block; }

.navig {
  background-color: #374050;
  color: #9ca8b4;
  list-style: none; }
  .navig__li.active .navig__link {
    border-left: 3px solid #ff2600; }
    .navig__li.active .navig__link [class^="icon-"],
    .navig__li.active .navig__link [class*="icon-"] {
      fill: #fff; }
  .navig__link {
    display: block;
    padding: 12px 14px 13px;
    -webkit-transition: color 0.1s;
    transition: color 0.1s; }
    .navig__link [class^="icon-"],
    .navig__link [class*="icon-"] {
      -webkit-transition: fill 0.1s;
      transition: fill 0.1s; }
    .navig__link span {
      vertical-align: middle; }
    .navig__link:hover {
      color: #fff; }
      .navig__link:hover [class^="icon-"],
      .navig__link:hover [class*="icon-"] {
        fill: #fff; }
  .navig__icon, .navig__text {
    display: table-cell;
    vertical-align: middle; }
  .navig__icon {
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 0; }
  .navig__text {
    padding-left: 6px; }

.drop {
  list-style: none;
  background-color: #1f2633; }
  .drop__li {
    border-bottom: 1px solid #374050; }
    .drop__li.active .drop__link {
      background-color: #f2f6fa; }
      .drop__li.active .drop__link:hover {
        color: inherit; }
        .drop__li.active .drop__link:hover [class^="icon-"],
        .drop__li.active .drop__link:hover [class*="icon-"] {
          fill: #9ca8b4; }
  .drop__link {
    display: table;
    width: 100%;
    padding: 12px 20px 11px 40px;
    -webkit-transition: color 0.1s;
    transition: color 0.1s; }
    .drop__link [class^="icon-"],
    .drop__link [class*="icon-"] {
      -webkit-transition: fill 0.1s;
      transition: fill 0.1s; }
    .drop__link span {
      vertical-align: middle; }
    .drop__link:hover {
      color: #fff; }
      .drop__link:hover [class^="icon-"],
      .drop__link:hover [class*="icon-"] {
        fill: #fff; }
  .drop__icon, .drop__text {
    display: table-cell;
    vertical-align: middle; }
  .drop__icon {
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 0; }
  .drop__text {
    padding-left: 6px; }

.header {
  background-color: #fff; }
  .header__top {
    border-bottom: 1px solid #cad3df;
    padding: 5px 26px 0; }
  .header__bottom {
    border-bottom: 1px solid #cad3df; }

.search {
  position: relative; }
  .search__submit {
    position: absolute;
    top: 12px;
    left: 18px; }
  .search__input {
    padding-left: 64px;
    padding-right: 64px;
    height: 48px;
    border-color: transparent; }

.main {
  float: left;
  width: 100%;
  padding-left: 240px; }

#magic-line {
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100px;
  height: 3px;
  background: #ff2600; }

.nav-tabs {
  position: relative;
  border-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  margin: 0 -13px;
  float: left; }
  .nav-tabs li {
    padding: 0 13px;
    margin-bottom: 0; }
    .nav-tabs li:last-child {
      margin-right: 0; }
    .nav-tabs li > a {
      padding: 26px 0;
      -webkit-transition: color 0.1s;
      transition: color 0.1s;
      border-radius: 0;
      border: none !important; }
      .nav-tabs li > a:hover {
        background-color: transparent;
        color: #ff2600; }
      .nav-tabs li > a:focus {
        background-color: transparent; }
    .nav-tabs li.active > a,
    .nav-tabs li.active > a:hover,
    .nav-tabs li.active > a:focus {
      color: #ff2600; }

.account {
  float: right;
  margin-top: 15px;
  font-size: 16px; }
  .account__name, .account__pic {
    display: inline-block;
    vertical-align: middle; }
  .account__name {
    padding-right: 5px; }

.content {
  display: block;
  padding: 24px; }

.relative {
  position: relative;
  height: 100%; }

.login-page {
  background-image: -webkit-radial-gradient(1121px 753px at 50% 0%, #546177 0%, #1f2633 100%);
  background-image: radial-gradient(1121px 753px at 50% 0%, #546177 0%, #1f2633 100%);
  min-height: 100vh;
  position: relative; }

.login {
  max-width: 200px;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
  .login__logo {
    display: inline-block;
    margin-bottom: 31px; }
  .login__title {
    font-size: 16px;
    color: #9ca8b4;
    display: block;
    margin-bottom: 28px; }
  .login__form {
    text-align: left;
    color: #fff; }
    .login__form .form-control:not('.has-error'),
    .login__form .form-control:not('.has-success') {
      border-color: transparent; }
    .login__form label {
      color: inherit; }
    .login__form .btn {
      width: 100%; }

.log-table{
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  display: table;}
  .log-types{
    display: table-cell; }
  .log-types .active{
    background: #f2f6fa }
  .log-types .log-types__li{
    margin: 0;
    height: 48px; }
  .log-types .log-types__link{
    color: #374050;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding: 12px 16px }
  .log-table .wrapper-table{
    border-left: 2px solid #f2f6fa;
    padding: 24px;
    display: table-cell; }
  .log-table table{
    margin: 24px 0 39px;
    text-align: left;
    width: 100%; }
  .log-table .table-header{
    color: #374050;
    font-size: 26px;
    font-weight: 400;
    line-height: 36px; }
  .log-table .head-cell{
    color: #9ca8b4;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    padding: 6px 0; }
  .log-table .body-cell{
    color: #374050;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding: 16px 0; }
  .log-table thead{
    border-bottom: 2px solid #f2f6fa; }

.filter {
  margin-bottom: 20px;
  text-align: center; }
  .filter__add {
    float: left;
    padding-left: 15px;
    padding-right: 15px; }
  .filter__apply {
    padding-left: 16px;
    padding-right: 16px; }
  .filter__form {
    display: inline-block;
    margin-right: 11.5%; }
    .filter__form label {
      font-size: 14px;
      color: #374050;
      margin-right: 12px; }
    .filter__form .wrap-select {
      width: 200px; }
    .filter__form .wrap-input {
      width: 200px; }
      .filter__form .wrap-input input {
        width: 100%; }  
    .filter__form .form-group {
      margin-right: 30px; }
      .filter__form .form-group:last-child {
        margin-right: 0; }
    .filter__form .form-group.next-wo-label {
      margin-right: 16px; }
  .filter__view {
    float: right; }
  @media screen and (max-width: 1599px) {
    .filter__form {
      margin-right: 16px;
      margin-left: 16px; } }
  @media screen and (max-width: 1399px) {
    .filter {
      text-align: right; }
      .filter__add {
        margin-bottom: 16px; }
      .filter__form {
        margin-bottom: 16px; } }

.view__li {
  display: inline-block;
  margin-left: 20px; }
  .view__li:first-child {
    margin-left: 0; }
  .view__li.active .view__icon {
    background-color: #374050; }
    .view__li.active .view__icon [class^="icon-"],
    .view__li.active .view__icon [class*="icon-"] {
      fill: #fff; }

.view__link {
  display: table; }
  .view__link:hover .view__text {
    text-decoration: underline; }

.view__icon, .view__text {
  display: table-cell;
  vertical-align: middle; }

.view__icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  line-height: 0; }

.view__text {
  padding-left: 9px; }

.workers__list {
  font-size: 0;
  margin: 0 -12px; }

.workers__li {
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
  width: 25%;
  padding: 0 12px; }

@media (max-width: 1550px) {
  .workers__li {
    width: 33.33%; } }

@media (max-width: 1230px) {
  .workers__li {
    width: 50%; } }

.worker {
  display: block;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 16px 15px 20px;
  margin-bottom: 24px;
  background-color: #fff;
  position: relative;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s; }
  .worker:hover {
    -webkit-box-shadow: none;
            box-shadow: none; }
  .worker__top {
    padding-right: 30px;
    margin-bottom: 20px; }
  .worker .js-toggle-controls {
    position: absolute;
    right: 16px;
    top: 8px; }
  .worker__img {
    line-height: 0;
    float: left;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    overflow: hidden;
    background-image: url("../img/placeholder.png");
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s; }
  .worker__info {
    overflow: hidden;
    padding-left: 16px; }
  .worker__name {
    font-size: 16px; }
  .worker__firstname, .worker__lastname {
    display: block; }
  .worker__position {
    font-size: 13px;
    color: #9ca8b4; }
  .worker__data td {
    vertical-align: middle;
    height: 24px;
    padding: 2px 9px; }
    .worker__data td:first-child {
      font-size: 13px;
      padding-left: 0;
      color: #9ca8b4; }

.controls__close {
  position: absolute;
  right: -10px;
  bottom: 100%;
  width: 15px;
  height: 15px;
  margin-bottom: 5px; }
  .controls__close:before, .controls__close:after {
    content: '';
    position: absolute;
    width: 15px;
    height: 2px;
    background-color: #374050;
    top: 8px; }
  .controls__close:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
  .controls__close:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .controls__close:hover:before, .controls__close:hover:after {
    background-color: #20b1ed; }

.controls__list {
  display: table;
  width: 100%;
  background-color: #374050;
  table-layout: fixed;
  border-radius: 5px 5px 0 0; }

.controls [class^="icon-"],
.controls [class*="icon-"] {
  fill: #fff; }

.controls__li {
  display: table-cell;
  vertical-align: top;
  text-align: center;
  height: 62px; }
  .controls__li:first-child .controls__link {
    border-top-left-radius: 5px; }
  .controls__li:first-child .controls__tooltip {
    left: 0;
    right: auto;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none; }
    .controls__li:first-child .controls__tooltip:before {
      right: auto;
      left: 25px; }
  .controls__li:last-child .controls__link {
    border-top-right-radius: 5px; }
  .controls__li:last-child .controls__tooltip {
    left: auto;
    right: 0;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none; }
    .controls__li:last-child .controls__tooltip:before {
      left: auto;
      right: 25px; }

.controls__link {
  display: block;
  position: relative;
  height: 100%;
  width: 100%; }
  .controls__link [class^="icon-"],
  .controls__link [class*="icon-"] {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .controls__link:hover {
    background-color: #20b1ed; }
    .controls__link:hover .controls__tooltip {
      visibility: visible;
      opacity: 1; }

.controls__tooltip {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 4px;
  min-width: 220px;
  text-align: center; }

.controls--workers {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0; }

.controls--table-style .controls__list,
.controls--table-style .controls__link {
  border-radius: 0 !important; }

.controls--table-style .controls__tooltip {
  top: auto;
  bottom: 100%;
  margin-bottom: 4px; }

.tooltip {
  background-color: #374050;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  white-space: nowrap;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 10px 15px; }
  .tooltip:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #374050;
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -10px; }
  .tooltip__li {
    margin-bottom: 9px; }
    .tooltip__li:last-child {
      margin-bottom: 0; }
  .tooltip label {
    color: inherit; }
  .tooltip--arrow-bottom:before {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #374050;
    border-bottom: none;
    bottom: auto;
    top: 100%; }

.table-scroll {
  overflow: auto; }
  .table-scroll table {
    min-width: 1040px; }

.table {
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); }
  .table tr {
    cursor: pointer; }
    .table tr:hover td {
      background-color: #f1f7fb; }
  .table th {
    font-weight: 400;
    color: #9ca8b4;
    font-size: 13px; }
  .table .js-toggle-controls {
    cursor: pointer; }
  .table tbody > tr > td {
    vertical-align: middle;
    border-bottom: 1px solid #f2f6fa;
    padding: 12px; }
  .table thead > tr > th {
    border-bottom: 1px solid #f2f6fa;
    padding: 12px 12px 10px; }
  .table .settings {
    margin-top: -10px;
    position: relative;
    top: 5px;
    left: 6px; }
  .table__controls {
    display: none;
    position: absolute;
    min-width: 312px;
    right: 0;
    top: -20px; }
  .table__settings {
    display: none; }

.cell-controls {
  padding-left: 0 !important; }

.cell-phone,
.cell-icq {
  white-space: nowrap; }

.user {
  display: table; }
  .user__pic, .user__name {
    display: table-cell;
    vertical-align: middle; }
  .user__pic {
    display: inline-block;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    overflow: hidden;
    background-image: url("../img/placeholder.png"); }
  .user__name {
    padding-left: 16px; }

.settings {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  padding-right: 16px;
  margin-right: 32px; }
  .settings__control {
    -webkit-transition: opacity 0.1s;
    transition: opacity 0.1s; }
    .settings__control:hover {
      opacity: 0.85; }
    .settings__control:after {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #9ca8b4;
      margin-top: -5px; }
  .settings__tooltip {
    visibility: hidden;
    opacity: 0;
    min-width: 250px;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    margin-top: 4px;
    margin-top: 15px;
    margin-left: -5px; }
    .settings__tooltip:before {
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 12px solid #374050; }
    .settings__tooltip.active {
      visibility: visible;
      opacity: 1; }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  input[type=checkbox] + label:after {
    background-image: url("../img/checked@2x.png");
    background-size: 16px 12px; }
  .ui-multiselect-arrow {
    background-image: url("../img/select-arrow@2x.png");
    background-size: 14px 8px; }
  .worker__img,
  .user__img {
    background-image: url("../img/placeholder@2x.png");
    background-size: 56px 56px; } }
