/*
  ui-multiselect
*/

/* ui-multiselect */
.ui-multiselect { text-align:left; }
.ui-multiselect,
.ui-multiselect *:hover,
.ui-multiselect *:focus { outline:none !important; }
button.ui-multiselect::-moz-focus-inner {
  padding:0;
  border:0;
}
button.ui-multiselect {
  display:block;
  cursor:pointer;
  background:none !important;
  border:0 !important;
  padding:0 !important;
  height:auto !important;
  width:100% !important;
  position:relative;
  overflow:visible;
}
button.ui-multiselect:after { content:""; }
button.ui-multiselect .ui-multiselect-inner {
  display:block;
  position:relative;
  overflow:hidden;
  zoom:1;
}
button.ui-multiselect.ui-state-disabled,
button.ui-multiselect.ui-state-disabled * { cursor:default !important; }
button.ui-multiselect .ui-multiselect-value {
  display:block;
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow:hidden;
  zoom:1;
  max-width:100%;
}
button.ui-multiselect .ui-multiselect-divider {
  position:absolute;
  width:0;
}
button.ui-multiselect .ui-multiselect-arrow {
  position:absolute;
}
button.ui-multiselect .ui-multiselect-icon {
  background:url(../img/sprite-icons.png) no-repeat 0 0;
  position:absolute;
}
.ui-multiselect-single .ui-multiselect-checkboxes input {
  position:absolute !important;
  top:auto !important;
  left:-9999px;
}
.ui-multiselect-header li.ui-multiselect-close {
  text-align:right;
}
.ui-multiselect-menu {
  display:none;
  position:absolute;
  z-index:10000;
  text-align:left;
  left:0;
  top:0;
}
.ui-multiselect-checkboxes {
  position:relative /* fixes bug in IE6/7 */;
  overflow-y:auto;
}
.ui-multiselect-checkboxes label {
  display:block;
  border:none;
}
.ui-multiselect-checkboxes label input {
  position:relative;
}
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label {
  text-align:center;
}
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label a {
  display:block;
  text-decoration:none;
}
div.ui-widget-icons .ui-multiselect-checkboxes input {
  position:absolute;
  top:0;
  left:-9999px;
}
div.ui-widget-icons .ui-multiselect-checkboxes em {
  position:absolute;
  left:0;
}
div.ui-widget-icons .ui-multiselect-checkboxes i {
  position:absolute;
  top:50%;
  left:50%;
}
.ui-multiselect-hasfilter ul {
  position:relative;
}
.ui-multiselect-filter input {
  width:100px;
  -webkit-appearance:textfield;
  -webkit-box-sizing:content-box;
}
div.ui-multiselect-menu ul,
div.ui-multiselect-menu li {
  background:none;
  margin:0;
  padding:0;
  list-style:none;
}
div.ui-multiselect-menu ul {
  max-height:300px;
  overflow:visible;
  background:url(../img/empty.png) repeat;
}
div.ui-multiselect-menu .ui-multiselect-checkboxes li:first-child {
  display:none !important;
}
div.ui-multiselect-menu li {
  overflow:hidden;
  zoom:1;
}
div.ui-multiselect-menu ul label {
  cursor:pointer;
  position:relative;
}
.list-fix-scroll {
  overflow-y:auto !important;
}
.wrap-select,
[class^="wrap-select-"],
[class*=" wrap-select-"] {
  position:relative;
}
.wrap-select select,
[class^="wrap-select-"] select,
[class*=" wrap-select-"] select {
  width:100%;
}
/* ui-multiselect end */